@()(implicit lang: Lang)

@import helper._
@import helper.twitterBootstrap._

@main(Messages("disposal_beforeyoustart.title")){

	<p><strong>@Messages("disposal_beforeyoustart.name")</strong></p>
    <p>@Messages("disposal_beforeyoustart.p1")</p><br>


    <div class="form-steps">
        @{ /* Note the reverse routing syntax for the hyperlink */ }
        <a class="button" href="@controllers.disposal_of_vehicle.routes.SetUpTradeDetails.submit">@Messages("disposal_beforeyoustart.button")</a>
    </div>

}