@()(implicit lang: Lang, token: play.filters.csrf.CSRF.Token)

@import mappings.disposal_of_vehicle.BeforeYouStart._
@import controllers.disposal_of_vehicle.routes.{BeforeYouStart, SetUpTradeDetails}
@import views.html.disposal_of_vehicle.main
@import views.html.common.language

@main(Messages("disposal_beforeyoustart.title")){
    <p>@Messages("disposal_beforeyoustart.p1")</p>
    <ol class="list-standard">
    	<li>@Messages("disposal_beforeyoustart.listitem1") <a href="https://www.vehicleenquiry.service.gov.uk/" target="_blank">@Messages("disposal_beforeyoustart.listitem1linktext")</a>.</li>
    	<li>@Messages("disposal_beforeyoustart.listitem2")</li>
    	<li>@Messages("disposal_beforeyoustart.listitem3")</li>
    	<li>@Messages("disposal_beforeyoustart.listitem4")</li>
    </ol>


    <div class="form-steps">
        @{ /* Note the reverse routing syntax for the hyperlink */ }
        <a class="button" id="@NextId" href="@SetUpTradeDetails.submit">@Messages("disposal_beforeyoustart.button")</a>
    </div>

    @language(withLanguageCy = BeforeYouStart.withLanguageCy(), withLanguageEn = BeforeYouStart.withLanguageEn())
}