@()(implicit lang: Lang)

@import helper._
@import helper.twitterBootstrap._

@main(Messages("disposal_beforeyoustart.title")){
    
    <p>@Messages("disposal_beforeyoustart.p1")</p>
    <ol class="list-standard">
    	<li>@Messages("disposal_beforeyoustart.listitem1")</li>
    	<li>@Messages("disposal_beforeyoustart.listitem2")</li>
    	<li>@Messages("disposal_beforeyoustart.listitem3")</li>
    </ol>
    
    <div class="form-item tooltip-wrapper">
    	<label for="test">Label text</label>
    	<input type="text" name="test" id="test" />
    	<div class="tooltip" tabindex="0">
    		<p>Per feugait at iusto delenit vel. Nobis legentis <a href="/tstefewf">mirum doming</a> diam assum.</p>
    		<img src="http://placehold.it/250x150" alt="Test">
    	</div>
    </div>


    <div class="form-steps">
        @{ /* Note the reverse routing syntax for the hyperlink */ }
        <a class="button" id="next" href="@controllers.disposal_of_vehicle.routes.SetUpTradeDetails.submit">@Messages("disposal_beforeyoustart.button")</a>
    </div>

}