@(businessChooseYourAddressForm: Form[models.domain.disposal_of_vehicle.BusinessChooseYourAddressModel], traderBusinessName: String, dropDownOptions: Map[String, String])(implicit lang: Lang)

@import helper._
@import utils.helpers.ValtechTemplate._
@import views.html.helper.base._
@import views.html.common._
@import views.html.helper._
@import mappings.disposal_of_vehicle.BusinessAddressSelect._

@main(Messages("disposal_businessChooseYourAddress_title")) {
    @errorsSummary(businessChooseYourAddressForm)

    @form(action = controllers.disposal_of_vehicle.routes.BusinessChooseYourAddress.submit) {

        <h2>@Messages("disposal_businessChooseYourAddress_legend")</h2>
    	<dl class="summary-detail-list">
        	<dt>@Messages("disposal_businessChooseYourAddress_businessName_label"):</dt>
        	<dd>@Messages("disposal_businessChooseYourAddress_businessName", traderBusinessName)</dd>
    	</dl>
        	
        <div class="form-elements">
            <ul>

                @valtechSelect(businessChooseYourAddressForm(addressSelectId),
                    options = dropDownOptions.toSeq,
                    '_label -> Messages("disposal_businessChooseYourAddress_addressSelect_label")
                )
            </ul>
        </div>

        <div class="form-steps">
            <a id="backButton" href="@controllers.disposal_of_vehicle.routes.SetUpTradeDetails.present" class="button secondary" aria-label="Back button">@Messages("disposal_businessChooseYourAddress.backbutton")</a>
            <button type="submit" name="action" class="button" aria-label="Next button">@Messages("disposal_businessChooseYourAddress.submitbutton")</button>
        </div>

    }
}