@(businessChooseYourAddressForm: Form[models.domain.disposal_of_vehicle.BusinessChooseYourAddressModel], dropDownOptions: Map[String, String])(implicit lang: Lang)

@import helper._
@import utils.helpers.ValtechTemplate._
@import views.html.helper.base._
@import views.html.common._
@import views.html.helper._
@import app.DisposalOfVehicle.BusinessAddressSelect._

@main(Messages("disposal_businessChooseYourAddress_title")) {
    @errorsSummary(businessChooseYourAddressForm)

    @form(action = controllers.disposal_of_vehicle.routes.BusinessChooseYourAddress.submit) {

            <h2>@Messages("disposal_businessChooseYourAddress_legend")</h2>
        <div class="form-elements">
            <ul>
                @valtechInputText(businessChooseYourAddressForm(businessNameId), args =
                    '_label -> Messages("disposal_businessChooseYourAddress_businessName_label"),
                    '_showConstraints -> false,
                    'maxLength -> Mappings.sixty)

                @valtechSelect(businessChooseYourAddressForm(addressSelectId),
                    options = dropDownOptions.toSeq,
                    '_label -> Messages("disposal_businessChooseYourAddress_addressSelect_label")
                )
            </ul>
        </div>

        <div class="form-steps">
            <button type="submit" name="action" class="button" aria-label="Next button">@Messages("disposal_setuptradedetails.button")</button>
        </div>

    }
}