@(businessChooseYourAddressForm: Form[models.domain.disposal_of_vehicle.BusinessChooseYourAddressModel],
        traderBusinessName: String,
        traderPostcode: String,
        dropDownOptions: Seq[(String, String)])(implicit lang: Lang,
        token: filters.csrf_prevention.CsrfPreventionAction.CsrfPreventionToken,
        config: utils.helpers.Config)

@import controllers.disposal_of_vehicle.routes.BusinessChooseYourAddress
@import mappings.disposal_of_vehicle.BusinessChooseYourAddress.{AddressSelectId, BackId, EnterAddressManuallyButtonId, SelectId}
@import utils.helpers.BaseTemplate.fieldConstructor
@import utils.helpers.CsrfHelper
@import views.html.disposal_of_vehicle.main
@import views.html.helper.base.valtechSelect
@import views.html.helper.form

@main(
    progress = Some(Messages("disposal_progress_3")),
    title = Messages("disposal_businessChooseYourAddress_title"),
    currentForm = Some(businessChooseYourAddressForm)
) {
    @form(action = BusinessChooseYourAddress.submit()) {
        @CsrfHelper.hiddenFormField

        <dl class="summary-detail-list">
            <dt>@Messages("disposal_businessChooseYourAddress_businessName_label")</dt>
            <dd>@Messages("disposal_businessChooseYourAddress_businessName", traderBusinessName)</dd>
            <dt>@Messages("disposal_businessChooseYourAddress_postcode_label")</dt>
            <dd>@traderPostcode</dd>
        </dl>

        @if(dropDownOptions.isEmpty) {
        <h2>@Messages("disposal_businessChooseYourAddress_noaddressesfound")</h2>
        } else {
            @valtechSelect(businessChooseYourAddressForm(AddressSelectId),
                options = dropDownOptions.toSeq,
                args = Map('_label -> Messages("disposal_businessChooseYourAddress_addressSelect_label"))
            )
        }

        <br/>
        <a id="@EnterAddressManuallyButtonId" href="@controllers.disposal_of_vehicle.routes.EnterAddressManually.present()">@Messages("disposal_businessChooseYourAddress.manualAddressEntry")</a>

        @{/* Note primary button moved to first button as per https://www.gov.uk/service-manual/user-centered-design/resources/forms.html#buttons */}
        <div class="form-steps">
            @if(dropDownOptions.nonEmpty) {
            <button id="@SelectId" type="submit" name="action" class="button">@Messages("disposal_businessChooseYourAddress.submitbutton")</button>
            }
            <a id="@BackId" href="@controllers.disposal_of_vehicle.routes.SetUpTradeDetails.present()" class="button-secondary">@Messages("disposal_businessChooseYourAddress.backbutton")</a>
        </div>
    }
}