@(data: models.domain.disposal_of_vehicle.DisposeViewModel, disposeModel: models.domain.disposal_of_vehicle.DisposeFormModel)(implicit lang: Lang)

@import helper._
@import helper.twitterBootstrap._

@main(Messages("disposal_disposefailure.title")){

<p>@Messages("disposal_disposefailure.p1")</p><br>


<div class="form-steps">
    @{ /* Note the reverse routing syntax for the hyperlink */ }
    <a class="button" id="vehiclelookup" href="@controllers.disposal_of_vehicle.routes.VehicleLookup.present">@Messages("disposal_disposefailure.button")</a>
    <a class="button" id="setuptradedetails" href="@controllers.disposal_of_vehicle.routes.SetUpTradeDetails.present">@Messages("disposal_disposefailure.button2")</a>
</div>

}