@(data: models.domain.disposal_of_vehicle.DisposeModel, disposeConfirmationForm: Form[models.domain.disposal_of_vehicle.DisposeConfirmationFormModel], disposalDate:models.DayMonthYear)(implicit lang: Lang)

@import helper._
@import views.html.helper.base._

@import helper._
@import utils.helpers.ValtechTemplate._
@import views.html.helper.base._
@import views.html.common._
@import views.html.helper._
@import app.DisposalOfVehicle.DisposeConfirmation._

@main(Messages("disposal_disposeconfirmation.title")){

<div class="two-col clearfix">

	<div class="first-col">
	
		<h2>@Messages("disposal_disposeconfirmation.disposaldetails")</h2>
		<dl class="summary-detail-list">
            <dt>@Messages("disposal_disposeconfirmation.transactionid_label"):</dt>
            <dd>@Messages("disposal_disposeconfirmation.transactionid", "123-654-REP")</dd>

			<dt>@Messages("disposal_disposeconfirmation.vehiclemake")</dt>
			<dd>@data.vehicleMake</dd>
			<dt>@Messages("disposal_disposeconfirmation.vehiclemodel")</dt>
			<dd>@data.vehicleModel</dd>
			<dt>@Messages("disposal_disposeconfirmation.vehiclekeeper")</dt>
			<dd>
				@data.keeperName<br />
				@data.keeperAddress.line1<br />
				@data.keeperAddress.line2<br />
				@data.keeperAddress.line3<br />
				@data.keeperAddress.postCode
			</dd>
			<dt>@Messages("disposal_disposeconfirmation.disposedto")</dt>
			<dd>
				@data.dealerName<br />
				@data.dealerAddress.line1<br />
				@data.dealerAddress.line2<br />
				@data.dealerAddress.line3<br />
				@data.dealerAddress.postCode
			</dd>


            <dt>@Messages("disposal_disposeconfirmation.disposaldate")</dt>
            <dd>

                @{disposalDate.`dd/MM/yyyy`}
            </dd>
		</dl>

	</div>
	
	<div class="second-col">
	
		<h2>@Messages("disposal_disposeconfirmation.exkeeper")</h2>
	    
	    <div class="form-elements">
	    	@form(action = controllers.disposal_of_vehicle.routes.DisposeConfirmation.submit) {
	    	<ul>
	    		<li>
	    			<strong>@Messages("disposal_disposeconfirmation.exkeeperlettersend")</strong><br />
			    	@data.keeperName<br />
			    	@data.keeperAddress.line1<br />
			    	@data.keeperAddress.line2<br />
			    	@data.keeperAddress.line3<br />
			    	@data.keeperAddress.postCode
	    		</li>

	    		<li>@Messages("disposal_disposeconfirmation.exkeeperlettertext")</li>

	    		    @valtechInputTextWithButton(disposeConfirmationForm(emailAddressId), args =
		                '_label -> Messages("disposal_disposeconfirmation.emaillabel"),
		                '_showConstraints -> false)


		        @{
                    /*
                    TODO DEVELOPER NOTE:
		        	We need to work to work out a way of having helpers that output form elements without wrapper markup
		        	and potentially without labels too for extra flexibility.
		        	James Chapman 11/02/2014
                     */
                }
	    	</ul>

	    	}
	    	
	    	<div class="form-steps">
                <a id="backButton" href="@controllers.disposal_of_vehicle.routes.Dispose.present" class="button secondary" aria-label="Back button">@Messages("disposal_disposeconfirmation.backbutton")</a>
	    		<a class="button-not-implemented" aria-disabled="true" disabled>@Messages("global.buttonnavprint")</a>
	    		<a id="newDisposal" class="button" href="@controllers.disposal_of_vehicle.routes.VehicleLookup.present">@Messages("disposal_disposeconfirmation.newdisposalbutton")</a>
                   
            </div>
            
	    </div>
    
	</div>

    


    
</div>
    
}