@(data: models.domain.disposal_of_vehicle.DisposeModel, disposeForm: Form[models.domain.disposal_of_vehicle.DisposeFormModel])(implicit lang: Lang)

@import helper._

@main(Messages("disposal_dispose.title")){
    <p>@Messages("disposal_dispose.vehicledetails")</p>
    <table>
        <tr><td>@Messages("disposal_dispose.vehiclemake")</td><td>@data.vehicleMake</td></tr>
        <tr><td>@Messages("disposal_dispose.vehiclemodel")</td><td>@data.vehicleModel</td></tr>
        <tr><td>@Messages("disposal_dispose.vehiclekeeper")</td><td>@data.keeperName</td></tr>
        <tr><td></td><td>@data.keeperAddress.line1</td></tr>
        <tr><td></td><td>@data.keeperAddress.line2</td></tr>
        <tr><td></td><td>@data.keeperAddress.line3</td></tr>
        <tr><td></td><td>@data.keeperAddress.postCode</td></tr>
    </table>

    @form(action = controllers.disposal_of_vehicle.routes.Dispose.submit) {
        <fieldset class="form-elements">
            <p>@Messages("disposal_dispose.disposevehicleto")</p>
            @{ /*<p><input type="checkbox" id="consent" name="consent" value="consent">@Messages("disposal_dispose.consent")</p>*/ }
            <p>@checkbox(disposeForm("consent"), 'id -> "consent", '_showConstraints -> false, '_label -> "", '_text -> Messages("disposal_dispose.consent"))</p>
            <table>
                <tr><td>@data.dealerName</td></tr>
                <tr><td>@data.dealerAddress.line1</td></tr>
                <tr><td>@data.dealerAddress.line2</td></tr>
                <tr><td>@data.dealerAddress.line3</td></tr>
                <tr><td>@data.dealerAddress.postCode</td></tr>
            </table>
        </fieldset>

        <div class="form-steps">
            <button type="submit" name="action" class="button" aria-label="Next button">@Messages("disposal_dispose.submitbutton")
            </button>
        </div>
    }
}