@(data: models.domain.disposal_of_vehicle.DisposeViewModel,
formModel: models.domain.disposal_of_vehicle.DisposeFormModel,
surveyUrl: Option[String]
)(implicit lang: Lang,
token: filters.csrf_prevention.CsrfPreventionAction.CsrfPreventionToken,
config: utils.helpers.Config
)

@import mappings.disposal_of_vehicle.DisposeSuccess.{ExitDisposalId, NewDisposalId, DisposalSurveyId}
@import utils.helpers.CsrfHelper
@import views.html.disposal_of_vehicle.main
@import views.html.helper.form

@main(
progress = Some(Messages("disposal_progress_6")),
title = Messages("disposal_disposeconfirmation.title")
){
<div class="alert-complete">
    <h2>@Messages("disposal_disposeconfirmation.disposalComplete")</h2>
    <p>@Messages("ms.vehiclesService.response.applicationBeingProcessed")</p>
    <p>@Messages("disposal_disposeconfirmation.yourTransactionId")<br />
        <span class="emphasized">@Messages("disposal_disposeconfirmation.transactionid", data.transactionId.getOrElse(""))</span></p>
</div>

<div class="two-col">

    <div class="first-col">
        <p>@Messages("disposal_disposeconfirmation.exkeeper")</p>
        <p><strong>@Messages("disposal_disposeconfirmation.exkeeper-p2")</strong></p>

        <div class="form-steps">
            @{/* Note primary button moved to first button as per https://www.gov.uk/service-manual/user-centered-design/resources/forms.html#buttons */}
            <div class="step">
                @form(action = controllers.disposal_of_vehicle.routes.DisposeSuccess.newDisposal()) {
                @CsrfHelper.hiddenFormField
                <button id="@NewDisposalId" type="submit" name="action" class="button">@Messages("disposal_disposeconfirmation.newdisposalbutton")</button>
                }
            </div>

            <div class="step">
                @form(action = controllers.disposal_of_vehicle.routes.DisposeSuccess.exit()) {
                    @CsrfHelper.hiddenFormField
                    @surveyUrl match {
                      case Some(url) => {
                            <button id="@ExitDisposalId"
                                    type="submit"
                                    name="action"
                                    onclick="window.open('@url', '_blank');"
                                    class="button">@Messages("disposal_disposeconfirmation.exitbutton")</button>
                      }
                      case None => {
                            <button id="@ExitDisposalId"
                                    type="submit"
                                    name="action"
                                    class="button">@Messages("disposal_disposeconfirmation.exitbutton")</button>
                      }
                    }
                }
            </div>

            <div class="step">
                @{/* TODO implemented JS and SCSS only. May need Scala work for unique ID? */
                /* TODO do we need 'value'? */
                }
                <button id="printDisposalSuccess" type="button" name="action" value="printDisposalSuccess" class="button js-only print-button">@Messages("global.buttonnavprint")</button>
            </div>
        </div>
    </div>

    <div class="second-col">
        <h2>@Messages("disposal_disposeconfirmation.disposaldetails")</h2>

        <dl class="summary-detail-list">
            <dt>@Messages("disposal_disposeconfirmation.registrationNumber_label")</dt>
            <dd>@Messages("disposal_disposeconfirmation.registrationNumber", data.registrationNumber)</dd>

            <dt>@Messages("disposal_disposeconfirmation.vehiclemake")</dt>
            <dd>@data.vehicleMake</dd>

            <dt>@Messages("disposal_disposeconfirmation.vehiclemodel")</dt>
            <dd>@data.vehicleModel</dd>

            <dt>@Messages("disposal_disposeconfirmation.disposedto")</dt>
            <dd>
                @data.dealerName<br />
                @for(addr <- data.dealerAddress.address) {@addr<br/>}
            </dd>

            <dt>@Messages("disposal_disposeconfirmation.disposaldate")</dt>
            <dd>
                @{formModel.dateOfDisposal.`dd/MM/yyyy`}
            </dd>
        </dl>
    </div>

</div>
}