@(data: models.domain.disposal_of_vehicle.DisposeModel, disposeModel: models.domain.disposal_of_vehicle.DisposeFormModel)(implicit lang: Lang)

@import helper._

@import helper._
@import utils.helpers.BaseTemplete._
@import views.html.helper.base._
@import views.html.common._
@import views.html.helper._
@import mappings.disposal_of_vehicle.DisposeSuccess._

@main(Messages("disposal_disposeconfirmation.title")){

<div class="two-col">

	<div class="first-col">
	
		<h2>@Messages("disposal_disposeconfirmation.disposaldetails")</h2>
		
		<dl class="summary-detail-list">
            
            <dt>@Messages("disposal_disposeconfirmation.transactionid_label")</dt>
            <dd><span style="color:green;">&#10004;</span>  @Messages("disposal_disposeconfirmation.transactionid", "123-654-REP")</dd>

			<dt>@Messages("disposal_disposeconfirmation.vehiclemake")</dt>
			<dd>@data.vehicleMake</dd>
			
			<dt>@Messages("disposal_disposeconfirmation.vehiclemodel")</dt>
			<dd>@data.vehicleModel</dd>
			
			<dt>@Messages("disposal_disposeconfirmation.vehiclekeeper")</dt>
			<dd>
				@data.keeperName<br />
                @for(addr <- data.keeperAddress.address) {@addr<br/>}
			</dd>
			
			<dt>@Messages("disposal_disposeconfirmation.disposedto")</dt>
			<dd>
				@data.dealerName<br />
                @for(addr <- data.dealerAddress.address) {@addr<br/>}
			</dd>

            <dt>@Messages("disposal_disposeconfirmation.disposaldate")</dt>
            <dd>
                @{disposeModel.dateOfDisposal.`dd/MM/yyyy`}
            </dd>
            
            @if(disposeModel.mileage != None) {
                <dt>@Messages("disposal_disposeconfirmation.mileage")</dt>
                <dd>@{disposeModel.mileage}</dd>
            } else {
                <dt>@Messages("disposal_disposeconfirmation.noMileageEntered")</dt>
                <dd></dd>
            }
            
		</dl>

	</div>
	
	<div class="second-col">
	
		<h2>@Messages("disposal_disposeconfirmation.exkeeper")</h2>
	    
        <p><strong>@Messages("disposal_disposeconfirmation.exkeeperlettersend")</strong><br />
        @data.keeperName<br />
        @for(addr <- data.keeperAddress.address) {@addr<br/>}</p>

    	<div class="form-steps">
    		<a class="button button-not-implemented" aria-disabled="true">@Messages("global.buttonnavprint")</a>
    		<a id="newDisposal" class="button" href="@controllers.disposal_of_vehicle.routes.VehicleLookup.present">@Messages("disposal_disposeconfirmation.newdisposalbutton")</a>
        </div>
            
	</div>
  
</div>
    
}