@(data: models.domain.disposal_of_vehicle.DisposeViewModel, disposeForm: Form[models.domain.disposal_of_vehicle.DisposeFormModel], years: Seq[(String, String)])(implicit lang: Lang)

@import helper._
@import views.html.helper.base._
@import helper.base.valtechInputText
@import helper.base.valtechDeclareCheck
@import utils.helpers.BaseTemplate._
@import helper.dates.inputDayMonthYear
@import mappings.disposal_of_vehicle.Dispose._
@import mappings.common.Mileage

@main(Messages("disposal_dispose.title")){
    @errorsSummary(disposeForm)
    
    @form(action = controllers.disposal_of_vehicle.routes.Dispose.submit) {
    
	<div class="alert-warning">
    	<p>@Messages("disposal_dispose.warning")&nbsp;<a href="https://www.gov.uk/contact">@Messages("disposal_dispose.warning.link")</a></p>
    </div>

    <div class="two-col clearfix">

        <div class="first-col">
            <h2>@Messages("disposal_dispose.vehicledetails")</h2>
            <dl class="summary-detail-list">
            	<dt>@Messages("disposal_dispose.vehiclereg")</dt>
            	<dd>@data.registrationNumber</dd>
                <dt>@Messages("disposal_dispose.vehiclemake")</dt>
                <dd>@data.vehicleMake</dd>
                <dt>@Messages("disposal_dispose.vehiclemodel")</dt>
                <dd>@data.vehicleModel</dd>
                
                @{/*
                	Removed in changes 19/3/14
                <dt>@Messages("disposal_dispose.vehiclekeeper")</dt>
                <dd>
                    @data.keeperName<br />
                    @for(addr <- data.keeperAddress.address) {@addr<br/>}
                </dd>
                */}
            </dl>

            @valtechInputText(disposeForm(MileageId), args =
            Map('_label -> Messages("disposal_dispose.mileage.label"),
            '_showConstraints -> false,
            'pattern -> Mileage.Pattern,
            'maxLength -> Mileage.maxLength, // Must be set independently of the pattern as the pattern is only checked when the user submits.
            'title -> Messages("disposal_dispose.mileage.validation")))

            @{
            /*
            Removed for now as out of scope of this sprint,
            as per conversation with Peter Timmer 10/2/14

            <div class="form-steps">
                <button type="submit" name="action" class="button">@Messages("global.buttonnavupdate")</button>
            </div>
            */
            }
        </div>

        <div class="second-col disposal-form">
            <h2>@Messages("disposal_dispose.disposevehicleto")</h2>

            <p>@data.dealerName<br />
            @for(addr <- data.dealerAddress.address) {@addr<br/>}</p>

            <div class="form-declaration">
                @valtechDeclareCheck(disposeForm(ConsentId),
                    args = Map(
                        '_showConstraints -> false,
                        '_label -> Messages("disposal_dispose.consent")
                    )
                )
            </div>
            <div class="form-declaration">
                @valtechDeclareCheck(disposeForm(LossOfRegistrationConsentId),
                    args = Map(
                        '_showConstraints -> false,
                        '_label -> Messages("disposal_dispose.loss_of_registration.consent")
                    )
                )
            </div>

            <div id=@mappings.disposal_of_vehicle.Dispose.DateOfDisposalId class="disposal-date">
                @inputDayMonthYear(disposeForm(DateOfDisposalId), years,
                    args = Map(
                        '_label -> Messages("disposal_dispose.dateofdisposal.label")
                    )
                )
            </div>

            @{/* Note primary button moved to first button as per https://www.gov.uk/service-manual/user-centered-design/resources/forms.html#buttons */}
            <div class="form-steps">
            	<button id="@SubmitId" type="submit" name="action" class="button">@Messages("disposal_dispose.submitbutton")</button>
                <a id="@BackId" href="@controllers.disposal_of_vehicle.routes.VehicleLookup.present" class="button-secondary">@Messages("disposal_dispose.backbutton")</a>

                <div class="two-col-spacer">
                    @{ /*
                    <button type="reset" name="action" class="button-not-implemented" aria-disabled="true" disabled>@Messages("global.buttonnavback")</button>
                    */ }
                </div>
            </div>
		</div>
    </div>
    }
}