@()(implicit lang: Lang,
        token: services.csrf_prevention.CsrfPreventionAction.CsrfPreventionToken,
        config: utils.helpers.Config)

@import views.html.disposal_of_vehicle.main

@main(
    title = Messages("duplicate_disposal_error.title")
){
    <p>@Messages("duplicate_disposal_error.text")</p>

    <div class="form-steps">
        @{ /* Note the reverse routing syntax for the hyperlink */ }
        <a class="button" id="tryagain" href="@controllers.disposal_of_vehicle.routes.VehicleLookup.present()">@Messages("duplicate_disposal_error.back.button")</a>
        <a class="button" id="exit" href="@controllers.disposal_of_vehicle.routes.BeforeYouStart.present()">@Messages("duplicate_disposal_error.exit.button")</a>
    </div>
}