@(enterAddressManuallyForm: Form[models.domain.disposal_of_vehicle.EnterAddressManuallyModel])(implicit lang: Lang)

@import helper._
@import mappings.common.AddressAndPostcode.AddressAndPostcodeId
@import mappings.disposal_of_vehicle.EnterAddressManually._

@main(Messages("disposal_enteraddressmanually.title")){
    @errorsSummary(enterAddressManuallyForm)

    @form(action = controllers.disposal_of_vehicle.routes.EnterAddressManually.submit) {

        @addressAndPostcode(enterAddressManuallyForm(AddressAndPostcodeId))

		@{/* Note primary button moved to first button as per https://www.gov.uk/service-manual/user-centered-design/resources/forms.html#buttons */}
        <div class="form-steps">
        	<button id="@NextId" type="submit" name="action" class="button">@Messages("disposal_enteraddressmanually.submitbutton")</button>
            <a id="@BackId" class="button-secondary" href="@controllers.disposal_of_vehicle.routes.BusinessChooseYourAddress.submit">@Messages("disposal_enteraddressmanually.backbutton")</a>
        </div>
    }
}