@(exceptionDigest: String,
        prototypeBannerVisible: Boolean)(implicit lang: Lang,
        token: services.csrf_prevention.CSRFPreventionAction.CSRFPreventionToken,
        config: utils.helpers.Config)

@import mappings.disposal_of_vehicle.Error.SubmitId
@import utils.helpers.CsrfHelper
@import views.html.disposal_of_vehicle.main
@import views.html.helper.form

@main(
    title = Messages("error.title"),
    prototypeBannerVisible = config.prototypeBannerVisible
){
    @form(action = controllers.disposal_of_vehicle.routes.Error.submit(exceptionDigest)) {
        @CsrfHelper.hiddenFormField

        <div class="form-steps">
            <button id="@SubmitId" type="submit" name="action" class="button">@Messages("error.button")</button>
        </div>
    }
}
