@(exceptionDigest: String)(implicit lang: Lang, token: services.csrf_prevention.CSRFAction.Token)

@import helper._
@import mappings.disposal_of_vehicle.Error._
@import utils.helpers._
@import views.html.common.language
@import views.html.disposal_of_vehicle.main
@import controllers.disposal_of_vehicle.routes.Error

@main(
    title = Messages("error.title"),
    alternateLanguages = language(withLanguageCy = Error.withLanguageCy(exceptionDigest), withLanguageEn = Error.withLanguageEn(exceptionDigest))
){

    @form(action = controllers.disposal_of_vehicle.routes.Error.submit(exceptionDigest)) {

    @CSRFHelper.hiddenFormField

        <div class="form-steps">
            <button id="@SubmitId" type="submit" name="action" class="button">@Messages("error.button")</button>
        </div>
    }
}
