@(title: String, currentForm: Option[Form[_]] = None, alternateLanguages: Html = Html.empty)(content: Html)(implicit lang: Lang)

@import helper._

@common.govMain(title, alternateLanguages) {
    <div class="vehicles-online">

        @common.protoType()

        @{
            /*common.helpLine()*/
        }

        <div class="section-content">

            <h1>@title</h1>

            @if(currentForm.isDefined) {
                @errorsSummary(currentForm.get)
            }

            @content
        </div>
    </div>
}