@(title: String, currentForm: Option[Form[_]] = None)(content: Html)(implicit lang: Lang)

@import helper._
@import views.html.common.govMain
@import views.html.common.protoType

@govMain(title) {
    <div class="vehicles-online">

        @protoType()

        @{
            /*common.helpLine()*/
        }

        <div class="section-content">

            <h1>@title</h1>

            @if(currentForm.isDefined) {
                @errorsSummary(currentForm.get)
            }

            @content
        </div>
    </div>
}