@()(implicit lang: Lang, token: services.csrf_prevention.CSRF.Token)

@import controllers.disposal_of_vehicle.routes.MicroServiceError
@import views.html.common.language
@import views.html.disposal_of_vehicle.main

@main(
    title = Messages("micro_service_error.title"),
    alternateLanguages = language(withLanguageCy = MicroServiceError.withLanguageCy(), withLanguageEn = MicroServiceError.withLanguageEn())
){
    <p>@Messages("micro_service_error.text")</p>

    <div class="form-steps">
        @{ /* Note the reverse routing syntax for the hyperlink */ }
        <a class="button" id="tryagain" href="@controllers.disposal_of_vehicle.routes.VehicleLookup.present()">@Messages("micro_service_error.back.button")</a>
        <a class="button" id="exit" href="@controllers.disposal_of_vehicle.routes.BeforeYouStart.present()">@Messages("micro_service_error.exit.button")</a>
    </div>
}