@(traderLookupForm: Form[models.domain.disposal_of_vehicle.SetupTradeDetailsModel])(implicit lang: Lang, token: services.csrf_prevention.CSRF.Token)

@import mappings.common.Postcode
@import helper._
@import utils.helpers.BaseTemplate._
@import views.html.helper.base._
@import views.html.common._
@import utils.helpers._
@import mappings.disposal_of_vehicle.SetupTradeDetails._

@main(Messages("disposal_setuptradedetails.title")) {
    @errorsSummary(traderLookupForm)

    @form(action = controllers.disposal_of_vehicle.routes.SetUpTradeDetails.submit) {

@CSRFHelper.hiddenFormField

    @{/*
    	Removed following review feedback 18/3/14
    	<h2>@Messages("disposal_setuptradedetails.p1")</h2>
    */}
    
    @valtechInputText(traderLookupForm(TraderNameId), args =
    Map('_label -> Messages("disposal_setuptradedetails.tradernamelabel"),
    '_showConstraints -> false,
    'maxLength -> TraderNameMaxLength))

    @valtechInputText(traderLookupForm(TraderPostcodeId), args =
    Map('_label -> Messages("disposal_setuptradedetails.traderpostcodelabel"),
    '_showConstraints -> false,
    'maxLength -> Postcode.MaxLength))

	<div class="form-steps">
	    <button id="@SubmitId" type="submit" name="action" class="button">@Messages("disposal_setuptradedetails.button")</button>
	</div>

    }
}