@()(implicit lang: Lang)

@import helper._

@main(Messages("soap_endpoint_error.title")){
    <p>@Messages("soap_endpoint_error.text")</p>

    <div class="form-steps">
        @{ /* Note the reverse routing syntax for the hyperlink */ }
        <a class="button" id="back" href="@controllers.disposal_of_vehicle.routes.Dispose.present">@Messages("soap_endpoint_error.back.button")</a>
        <a class="button" id="exit" href="@controllers.disposal_of_vehicle.routes.BeforeYouStart.present">@Messages("soap_endpoint_error.exit.button")</a>
    </div>
}