@()(implicit lang: Lang, token: services.csrf_prevention.CSRF.Token)

@import controllers.disposal_of_vehicle.routes.UprnNotFound
@import mappings.disposal_of_vehicle.UprnNotFound._
@import views.html.common.language
@import views.html.disposal_of_vehicle.main

@main(
    title = Messages("disposal_uprnnotfound.title"),
    alternateLanguages = language(withLanguageCy = UprnNotFound.withLanguageCy(), withLanguageEn = UprnNotFound.withLanguageEn())
) {
    <p>@Messages("disposal_uprnnotfound.p1")</p>

    <div class="form-steps">
        @{
            /* Note the reverse routing syntax for the hyperlink */
        }
        <a class="button" id="@SetuptradedetailsbuttonId" href="@controllers.disposal_of_vehicle.routes.SetUpTradeDetails.present()">@Messages("disposal_uprnnotfound.manualaddressbutton")</a>
        <a class="button" id="@ManualaddressbuttonId" href="@controllers.disposal_of_vehicle.routes.EnterAddressManually.present()">@Messages("disposal_uprnnotfound.setuptradedetailsbutton")</a>
    </div>
}