@(vehicleLookupForm: Form[models.domain.disposal_of_vehicle.VehicleLookupModel])(implicit lang: Lang)

@import helper._
@import utils.helpers.CarersTemplate._
@import views.html.helper.base._
@import views.html.common._
@import views.html.helper._


@main(Messages("disposal_vehiclelookup.title")) {
    @errorsSummary(vehicleLookupForm)

    @form(action = controllers.disposal_of_vehicle.routes.VehicleLookup.submit) {

        <div id="TraderDetailsDiv" style="float:left;width:25%; margin: 2em 18% 0px 0px; margin-right:65px; min-width:260px;">

            <p style="font-weight: 600;font-size: 2.4rem;padding: 0.12em 0px 0.5em;position: relative;line-height: 1.2em;color: rgb(51, 51, 153);">Vehicle disposed to</p><br>
            <ul>
                <p style="font-weight:bold; font-size:1.3em;">Car Giant</p>
                <p>44 Hythe Road</p>
                <p>White City</p>
                <p>LONDON</p>
                <p>NW106RJ</p>
                <br>
                <a href="#" class="button-not-implemented" aria-label="Edit button" style="padding:9px 35px;">Edit</a>
            </ul>
        </div>

        <div id="FindAVehicleDiv" style="float:left;width:60%">
            <fieldset class="form-elements" data-journey="carers-allowance:page:about-you">
            <legend>@Messages("disposal_vehiclelookup.p1")</legend>

            <ul>

                @carersInputText(vehicleLookupForm(app.DisposalOfVehicle.v5cReferenceNumberID), args =
                    '_label -> Messages("disposal_vehiclelookup.v5cinputlabel"),
                    '_showConstraints -> false,
                    'pattern -> Mappings.V5cReferenceNumber.pattern,
                    'maxLength -> Mappings.V5cReferenceNumber.maxLength, // Must be set independently of the pattern as the pattern is only checked when the user submits.
                    'title -> Messages("disposal_vehiclelookup.v5cinputlabel.refNumIncorrect"))

                @carersInputText(vehicleLookupForm(app.DisposalOfVehicle.v5cRegistrationNumberID), args =
                  '_label -> Messages("disposal_vehiclelookup.vrninputlabel"),
                  'maxLength -> Mappings.V5cRegistrationNumber.maxLength,
                  '_showConstraints -> false)

                @carersInputText(vehicleLookupForm(app.DisposalOfVehicle.v5cKeeperNameID), args =
                '_label -> Messages("disposal_vehiclelookup.keepernamelabel"),
                '_showConstraints -> false,
                'maxLength -> Mappings.KeeperName.maxLength,
                'title -> Messages("disposal_vehiclelookup.keepername.validation"))

                @carersInputText(vehicleLookupForm(app.DisposalOfVehicle.v5cPostcodeID), args =
                '_label -> Messages("disposal_vehiclelookup.keeperpostcodelabel"),
                '_showConstraints -> false,
                'maxLength -> Mappings.Postcode.maxLength,
                'title -> Messages("disposal_vehiclelookup.keeperpostcode.validation"))
            </ul>
                <br>


        </fieldset>

         </div>
        <div class="form-steps"">
            <button type="submit" name="action" class="button" aria-label="Next button" style="float:right; margin-right:345px;">@Messages("v5csearch.button")</button>
        </div>
    }
}