@(data: models.domain.disposal_of_vehicle.VehicleLookupFormModel,
        responseCodeVehicleLookupMSErrorMessage: String,
        attempts: Int,
        maxAttempts: Int)(implicit lang: Lang)

@import helper._
@import mappings.disposal_of_vehicle.VehicleLookupFailure._
@import utils.helpers.Config

@main(Messages("disposal_vehiclelookupfailure.title")){

    @if(Config.bruteForcePreventionEnabled){<p>attempts: @attempts maxAttempts: @maxAttempts</p>}

<p>@Messages(responseCodeVehicleLookupMSErrorMessage)</p><br>

    @{/* Note primary button moved to first button as per https://www.gov.uk/service-manual/user-centered-design/resources/forms.html#buttons */}
    <div class="form-steps">
        @{ /* Note the reverse routing syntax for the hyperlink */ }
        <a class="button" id="@VehicleLookupId" href="@controllers.disposal_of_vehicle.routes.VehicleLookup.present">@Messages("disposal_vehiclelookupfailure.button")</a>
        <a class="button" id="@BeforeYouStartId" href="@controllers.disposal_of_vehicle.routes.BeforeYouStart.present">@Messages("disposal_vehiclelookupfailure.button2")</a>
    </div>
}