@(timeString: String)(implicit lang: Lang, token: play.filters.csrf.CSRF.Token)

@import helper._
@import mappings.disposal_of_vehicle.VrmLocked._

@main(Messages("vrm_locked.title")){
    <p>@Messages("vrm_locked.text1")</p>
    <p>@Messages("vrm_locked.text2.1")&nbsp;<span id='localTimeOfVrmLock' ></span>&nbsp;@Messages("vrm_locked.text2.3")</p>
    <p>@Messages("vrm_locked.text3.1")&nbsp;<strong>@Messages("vrm_locked.text3.2")</strong></p>
    <span id='ct' ></span>
    <div class="form-steps">
        <div class="step">
            @form(action = controllers.disposal_of_vehicle.routes.VrmLocked.newDisposal) {
                @CSRF.formField
                <button id="@NewDisposalId" type="submit" name="action" value="@NewDisposalAction" class="button">@Messages("vrm_locked.newdisposalbutton")</button>
            }
        </div>
        <div class="step">
            @form(action = controllers.disposal_of_vehicle.routes.VrmLocked.exit) {
                @CSRF.formField
                <button id="@ExitDisposalId" type="submit" name="action" value="@ExitAction" class="button">@Messages("vrm_locked.exit.button")</button>
            }
        </div>
    </div>
}

<script type="text/javascript">
    function localize(dateTimeISOChronology)
    {
        var localTime =new Date(dateTimeISOChronology).toLocaleTimeString();
        document.getElementById('localTimeOfVrmLock').innerHTML = localTime;
    }

    localize("@timeString");
</script>