@()(implicit lang: Lang)

@import helper._
@import mappings.personalised_registration_retainer.BeforeYouStart._

@main(Messages("retainer_beforeyoustart.title")){
    
    
<div class="form-item">
    <label for="">
        Vehicle Registration Mark
    </label>
    <input type="text" id="" name="" value="" aria-required="true" maxlength="58" autocomplete="off">
</div>
<div class="form-item">
    <label for="">
        V5C Document Reference 
    </label>
    <input type="text" id="" name="" value="" aria-required="true" maxlength="58" autocomplete="off">
    <a href="#">Where is my V5C document reference number?</a>
</div>
<div class="form-item">
    <label for="">
        Postcode as appears on V5C Document
    </label>
    <input type="text" id="" name="" value="" aria-required="true" maxlength="58" autocomplete="off">
</div>
<div class="form-item">
    <label for="">
        Are you the registered keeper?
    </label>
    <div class="form-radio">
        <input type="radio"> <label>Yes </label>
    </div>
    <div class="form-radio">
        <input type="radio"> <label>No </label>
    </div>
</div>

    <div class="form-steps">
        <button id="" type="submit" name="action" class="button">Continue</button>
        <button id="" type="submit" name="action" class="button-secondary">Exit</button>
    </div>

}