@(field: play.api.data.Field, id: String, years: Seq[(String, String)], args: Map[Symbol, Any])(implicit lang: Lang)

@import utils.helpers.EmptyTemplate._
@import views.html.helper.base._
@import views.html.helper.dateConstraintRequired

@import scala.language.postfixOps

<fieldset>
    @dateConstraintRequired(field, args) <!-- datePlaceholder -->

    <div class="form-inline form-date">
        <div class="form-item">
            @* Day field. Overriding the default select message with "Day". *@
            @valtechSelect(field("day"),
                defaultOptionMessage = "datePlaceholder.day",
                options = ((1 to 31) map(v => (v toString) -> (if (v < 10) "0" + v else v toString))).asInstanceOf[Seq[(String, String)]])
        </div>

        <div class="form-item">
            @* Month field. Overriding the default select message with "Month". *@
            @valtechSelect(field("month"),
                defaultOptionMessage = "datePlaceholder.month",
                options = Seq(
                    "1" -> Messages("datePlaceholder.January"),
                    "2" -> Messages("datePlaceholder.February"),
                    "3" -> Messages("datePlaceholder.March"),
                    "4" -> Messages("datePlaceholder.April"),
                    "5" -> Messages("datePlaceholder.May"),
                    "6" -> Messages("datePlaceholder.June"),
                    "7" -> Messages("datePlaceholder.July"),
                    "8" -> Messages("datePlaceholder.August"),
                    "9" -> Messages("datePlaceholder.September"),
                    "10" -> Messages("datePlaceholder.October"),
                    "11" -> Messages("datePlaceholder.November"),
                    "12" -> Messages("datePlaceholder.December")
                )
            )
        </div>

        <div class="form-item">
            @* Year field. Overriding the default select message with "Year". *@
            @valtechSelect(field("year"),
                defaultOptionMessage = "datePlaceholder.year",
                options = years
            )
        </div>

    </div>

</fieldset>