@(field: play.api.data.Field, args: Map[Symbol, Any] = Map.empty)(implicit lang: Lang)

@import helper._
@import utils.helpers.CryptoHelper
@import utils.helpers._
@import views.html.helper.base._
@import utils.helpers.BaseTemplate._
@import mappings.common.AddressLines.AddressLinesId
@import mappings.common.Postcode.postcodeId
@import mappings.common.Postcode

<fieldset>
@input(field,args.toSeq: _*){(id, name, value, htmlArgs) =>
    @addressLines(field(AddressLinesId),
        args = Map('_label -> Messages("address.lines.label")))

    @valtechInputText(field(postcodeId),
        args = Map(
            'placeholder -> Messages("address.postcode.label.prompt"),
            '_label -> Messages("address.postcode.label"),
            '_showConstraints -> false,
            'maxLength -> Postcode.maxLength, // Must be set independently of the pattern as the pattern is only checked when the user submits.
            'title -> Messages("address.postcode.validation")
        )
    )

}</fieldset>