@(field: play.api.data.Field, args: Map[Symbol, Any])(implicit lang: Lang)

@import utils.helpers.BaseTemplate._
@import views.html.helper._
@import views.html.helper.base._

@input(field,args.toSeq: _*){(id, name, value, htmlArgs) =>

<legend> @valtechLabelText(field, args)</legend>
    <div class="form-address-stack" id = "@id">
        <div class="form-item">
        @valtechInputText(field(mappings.common.AddressLines.BuildingNameOrNumberId),
            args = Map(
                '_label -> Messages("address.buildingNameOrNumber.label"),
                'placeholder -> Messages("address.buildingNameOrNumber.label"),
                '_showConstraints -> false,
                'maxLength -> mappings.common.AddressLines.LineMaxLength.toString, // Must be set independently of the pattern as the pattern is only checked when the user submits.
                //'title -> Messages("address.buildingNameOrNumber.label"),
                'showErrors -> false))
        </div>
        <div class="form-item">
        @valtechInputText(field(mappings.common.AddressLines.Line2Id),
            args = Map(
                '_label -> Messages("address.line2.label"),
                'placeholder -> Messages("address.line2.label"),
                '_showConstraints -> false,
                'maxLength -> mappings.common.AddressLines.LineMaxLength.toString, // Must be set independently of the pattern as the pattern is only checked when the user submits.
                'title -> Messages("")))
        </div>
        <div class="form-item">
        @valtechInputText(field(mappings.common.AddressLines.Line3Id),
            args = Map(
                '_label -> Messages("address.line3.label"),
                'placeholder -> Messages("address.line3.label"),
                '_showConstraints -> false,
                'maxLength -> mappings.common.AddressLines.LineMaxLength.toString, // Must be set independently of the pattern as the pattern is only checked when the user submits.
                'title -> Messages("")))
        </div>
        <br>
        <legend>@Messages("addressAndPostcode.addressLines.postTown")</legend>
        <div class="form-item">
        @valtechInputText(field(mappings.common.AddressLines.postTownId),
            args = Map(
                '_label -> Messages("address.postTown.label"),
                '_showConstraints -> false,
                'maxLength -> mappings.common.AddressLines.LineMaxLength.toString, // Must be set independently of the pattern as the pattern is only checked when the user submits.
                //'title -> Messages("address.buildingNameOrNumber.label"),
                'showErrors -> false))
        </div>
    </div>

}