@(field: play.api.data.Field)

@import views.html.helper.base.valtechInputText
@import utils.helpers.EmptyTemplate._
@import views.html.helper.checkConstraintRequired

@checkConstraintRequired(field)
<ul class="address-stack">
    <li>
    @valtechInputText(field(mappings.disposal_of_vehicle.AddressLines.line1Id),
        args = '_label -> Messages("vehicles.address.line1.label"),
        'placeholder -> Messages("disposal_enteraddressmanually.address.line1.placeholder"),
        '_showConstraints -> false,
        'maxLength -> mappings.disposal_of_vehicle.AddressLines.lineMaxLength.toString, // Must be set independently of the pattern as the pattern is only checked when the user submits.
        'title -> Messages("vehicles.address.line1.validation"))
    </li>
    <li>
    @valtechInputText(field(mappings.disposal_of_vehicle.AddressLines.line2Id),
        args = '_label -> Messages("vehicles.address.line2.label"),
        'placeholder -> Messages("disposal_enteraddressmanually.address.line2.placeholder"),
        '_showConstraints -> false,
        'maxLength -> mappings.disposal_of_vehicle.AddressLines.lineMaxLength.toString, // Must be set independently of the pattern as the pattern is only checked when the user submits.
        'title -> Messages("vehicles.address.line2.validation"))
    </li>
    <li>
    @valtechInputText(field(mappings.disposal_of_vehicle.AddressLines.line3Id),
        args = 'placeholder -> Messages("disposal_enteraddressmanually.address.line3.placeholder"),
        '_label -> Messages("vehicles.address.line3.label"),
        '_showConstraints -> false,
        'maxLength -> mappings.disposal_of_vehicle.AddressLines.lineMaxLength.toString, // Must be set independently of the pattern as the pattern is only checked when the user submits.
        'title -> Messages("vehicles.address.line3.validation"))
    </li>
    <li>
    @valtechInputText(field(mappings.disposal_of_vehicle.AddressLines.line4Id),
        args = 'placeholder -> Messages("disposal_enteraddressmanually.address.line4.placeholder"),
        '_label -> Messages("vehicles.address.line4.label"),
        '_showConstraints -> false,
        'maxLength -> mappings.disposal_of_vehicle.AddressLines.lineMaxLength.toString, // Must be set independently of the pattern as the pattern is only checked when the user submits.
        'title -> Messages("vehicles.address.line4.validation"))
    </li>
</ul>