@(field: play.api.data.Field, args: Map[Symbol, Any] = Map.empty)(implicit lang: Lang)

@import helper._
@import utils.helpers.CryptoHelper
@import utils.helpers._
@import views.html.helper.base._
@import utils.helpers.BaseTemplete._

@input(field,args.toSeq: _*){(id, name, value, htmlArgs) =>
    @addressLines(field(mappings.common.AddressLines.id),
        args = Map('_label -> Messages("addressAndPostcode.addressLines")))

    @valtechInputText(field(mappings.common.Postcode.postcodeId),
        args = Map('placeholder -> Messages("disposal_enteraddressmanually.postcode.placeholder"),
        '_label -> Messages("disposal_enteraddressmanually.postcode.label"),
        '_showConstraints -> false,
        'maxLength -> mappings.common.AddressAndPostcode.postcodeMaxLength, // Must be set independently of the pattern as the pattern is only checked when the user submits.
        'title -> Messages("vehicles.address.postcode.validation")))
}