/*prevent resposive styles*/
#global-header .header-wrapper,
.vehicles-online,
#footer .footer-wrapper {
	width:980px;
}

#footer .footer-wrapper {
	padding-bottom:150px !important;
}

/*ensure IE does not ignore padding-bottom*/
.vehicles-online .section-content {
	display:inline-block;
}	

/*IE7-6 inline block, see:
http://stackoverflow.com/questions/5838454/inline-block-doesnt-work-in-internet-explorer-7-6
*/
#footer .footer-meta .nav-wrapper,
#footer .footer-meta .copyright,
#footer .footer-meta .nav-wrapper ul li {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

#footer .footer-meta .nav-wrapper {
	vertical-align:bottom;
}