@(elements: helper.FieldElements)

@import utils.helpers._

@if(elements.hasErrors && !elements.args.exists(_ == 'showErrors -> false)) {
    <div class="form-item validation">
    <p class="error">@{elements.errors(elements.lang).mkString(", ")}</p>
} else {
    <div class="form-item">
}

    @if(elements.hasErrors && !elements.args.exists(_ == 'showErrors -> false)) {

    }

    @if(elements.args.contains('prompt)) {
        <div class="prompt helper-prompt">@Html(Messages(elements.args.get('prompt).get.toString))</div>
    }

    @elements.input

    @if(elements.args.contains('helper)) {
        <p class="helper right">@elements.args.get('helper).get.toString</p>
    }

    @if(elements.args.contains('helperBelow)) {
        <p class="helper">@Html(elements.args.get('helperBelow).get.toString)</p>
    }
</div>