@()(implicit lang: Lang)

@import helper._
@import helper.twitterBootstrap._

@main(Messages("areyouregistered.title")){
<div class="out-of-scope">
@form(action = controllers.change_of_address.routes.AreYouRegistered.submit) {

    <h2>@Messages("areyouregistered.name")</h2>

    <p>@Messages("areyouregistered.p1")</p>
    <div class="alert">
    	<p>@Messages("areyouregistered.infomessage")</p>
    </div>

    <div class="form-steps">
        <p>@Messages("areyouregistered.button2text")<br />
        <button type="reset" name="action" class="button-not-implemented">@Messages("areyouregistered.button2")</button></p><br />
        <p>@Messages("areyouregistered.buttontext")<br />
        <button type="submit" name="action" class="button">@Messages("areyouregistered.button")</button></p>
    </div>
    
    }
</div>

}