@()(implicit lang: Lang)

@import helper._
@import helper.twitterBootstrap._

@main(Messages("beforeyoustart.title")){
<div class="out-of-scope">
@form(action = controllers.change_of_address.routes.BeforeYouStart.submit) {
<fieldset class="form-elements" data-journey="carers-allowance:page:about-you">
    <legend>@Messages("beforeyoustart.name")</legend>

    <p>@Messages("beforeyoustart.p1")</p><br>

    <p>@Messages("beforeyoustart.p2")</p><br>

    <p>@Messages("beforeyoustart.p3")</p><br>

    <p>@Messages("beforeyoustart.p4")</p><br>

    <p>@Messages("beforeyoustart.p5")</p>

</fieldset>

<div class="form-steps">
    <button type="submit" name="action" class="button" aria-label="Next button">@Messages("beforeyoustart.button")
    </button>
</div>
}
</div>
}