@()(implicit lang: Lang)

@import helper._
@import helper.twitterBootstrap._

@main(Messages("beforeyoustart.title")){
<div class="out-of-scope">
@form(action = controllers.change_of_address.routes.BeforeYouStart.submit) {

    <h2>@Messages("beforeyoustart.name")</h2>

    <p>@Messages("beforeyoustart.p1")</p>

    <p>@Messages("beforeyoustart.p2")</p>

    <p>@Messages("beforeyoustart.p3")</p>

    <p>@Messages("beforeyoustart.p4")</p>

    <p>@Messages("beforeyoustart.p5")</p>


<div class="form-steps">
    <button type="submit" name="action" class="button">@Messages("beforeyoustart.button")
    </button>
</div>
}
</div>
}