@(v5csearchConfirmationModel: models.domain.change_of_address.V5cSearchConfirmationModel)(implicit lang: Lang)

@import helper._
@import helper.twitterBootstrap._

@main(Messages("confirm_vehicle_details.title")){

    @form(action = controllers.change_of_address.routes.ConfirmVehicleDetails.submit) {
        
        <h2>@Messages("confirm_vehicle_details.name")</h2>

        <p>@Messages("confirm_vehicle_details.p1")</p><br>

        <table>
            <tr><td>@Messages("confirm_vehicle_details.vrn")</td><td>@v5csearchConfirmationModel.vrn</td></tr>
            <tr><td>@Messages("confirm_vehicle_details.make")</td><td>@v5csearchConfirmationModel.make</td></tr>
            <tr><td>@Messages("confirm_vehicle_details.model")</td><td>@v5csearchConfirmationModel.model</td></tr>
        </table>

        <div class="form-steps">
            <button type="submit" name="action" class="button" aria-label="Next button">@Messages("confirm_vehicle_details.button")</button>
            <button type="reset" name="action" class="button button-not-implemented" aria-label="Next button">@Messages("confirm_vehicle_details.button2")</button>
        </div>
    }


}