@(v5csearchConfirmationModel: models.domain.V5cSearchConfirmationModel)(implicit lang: Lang)

@import helper._

@main(Messages("confirm_vehicle_details.title")){
    @form(action = controllers.change_of_address.routes.ConfirmVehicleDetails.submit) {
        <fieldset class="form-elements" data-journey="carers-allowance:page:about-you">
            <legend>@Messages("confirm_vehicle_details.name")</legend>

            <p>@Messages("confirm_vehicle_details.p1")</p><br>

            <table>
                <tr><td>@Messages("v5csearchConfirmationModel.vrn")</td><td>@v5csearchConfirmationModel.vrn</td></tr>
                <tr><td>@Messages("v5csearchConfirmationModel.make")</td><td>@v5csearchConfirmationModel.make</td></tr>
                <tr><td>@Messages("v5csearchConfirmationModel.model")</td><td>@v5csearchConfirmationModel.model</td></tr>
                <tr><td>@Messages("v5csearchConfirmationModel.firstregistered")</td><td>@v5csearchConfirmationModel.firstRegistered</td></tr>
                <tr><td>@Messages("v5csearchConfirmationModel.acquired")</td><td>@v5csearchConfirmationModel.acquired</td></tr>

            </table>

        </fieldset>

        <div class="form-steps">
            <button type="submit" name="action" class="button" aria-label="Next button">@Messages("confirm_vehicle_details.button")</button>
            <button type="reset" name="action" class="button" aria-label="Next button">@Messages("confirm_vehicle_details.button2")</button>
        </div>
    }

}