@()(implicit lang: Lang)

@import helper._
@import helper.twitterBootstrap._

@main(Messages("keeperstatus.title")){
  <div class="out-of-scope"> 
    @form(action = controllers.change_of_address.routes.KeeperStatus.submit) {

        <h2>@Messages("keeperstatus.name")</h2>
        <p>@Messages("keeperstatus.p1")</p>

        <div class="form-steps">
            <button type="submit" name="action" class="button">@Messages("keeperstatus.button")</button><br>
            <button type="reset" name="action" class="button-not-implemented">@Messages("keeperstatus.button2")</button><br>
            <button type="reset" name="action" class="button-not-implemented">@Messages("keeperstatus.button3")</button>
        </div>
    }
  </div>
}