@(loginPageForm: Form[models.domain.change_of_address.LoginPageModel])

@import helper._
@import views.html.helper.base._


<html>
<title>@Messages("loginpage.title")</title>
<p>@Messages("loginpage.instructions")</p>

    @form(action = controllers.change_of_address.routes.LoginPage.submit) {
        <fieldset class="form-elements" data-journey="carers-allowance:page:about-you">
            <legend>@Messages("loginpage.title")</legend>
            <p>@Messages("Use your existing username and passsword to complete your Verified ID transaction.")</p>
                <ul>
                    @inputText(field = loginPageForm("username"), args = '_label -> Messages("loginpage.username"), '_showConstraints -> false)
                    @inputPassword(field = loginPageForm("password"), args = '_label -> Messages("loginpage.password"), '_showConstraints -> false)

                </ul>
        </fieldset>

  <div class="form-steps">
    <button type="submit" name="action" value="next" class="button" aria-label="@Messages("loginpage.button.login.arialabel")">@Messages("loginpage.button.login")</button>
  </div>
}
