@(loginPageForm: Form[models.domain.change_of_address.LoginPageModel])(implicit lang: Lang)

@import helper._
@import views.html.helper.base._


<html>
    <title>@Messages("loginpage.title")</title>

    <body>
        @form(action = controllers.change_of_address.routes.LoginPage.submit) {
                <p><font size="5" color="red">@Messages("loginpage.instructions")</font></p>
                <ul>
                    @inputText(field = loginPageForm("username"), args = '_label -> Messages("loginpage.username"), '_showConstraints -> false)
                    @inputPassword(field = loginPageForm("password"), args = '_label -> Messages("loginpage.password"), '_showConstraints -> false)
                    <font color="red"><a href="http://localhost:9000">Forgotten your password?</a></font>
                </ul>



            <div>
                <button style="background-color:red" type="submit" name="action" value="next" class="button" aria-label="@Messages("loginpage.button.login.arialabel")">@Messages("loginpage.button.login")</button>
            </div>

            <font color="red"><a href="">Cancel and return to transaction</a></font>
        }
    </body>
</html>