@()(implicit lang: Lang)

@import helper._

@main(Messages("signinprovider.title")) {
    @form(action = controllers.change_of_address.routes.SignInProvider.submit) {
        <fieldset class="form-elements" data-journey="carers-allowance:page:about-you">
            <legend>@Messages("signinprovider.name")</legend>

            <p>@Messages("signinprovider.p1")</p>

        </fieldset>

        <div class="form-steps">
            <button type="submit" name="action" value="next" class="button" aria-label="Next button">@Messages("signinprovider.button")</button><br>
            <button type="submit" name="action" value="next" class="button" aria-label="Next button">@Messages("signinprovider.button2")</button>
        </div>
    }

}