@()(implicit lang: Lang)

@import helper._
@import helper.twitterBootstrap._

@main(Messages("signinprovider.title")) {
  <div class="out-of-scope">
    @form(action = controllers.change_of_address.routes.SignInProvider.submit) {
   
            <h2>@Messages("signinprovider.name")</h2>
            <p>@Messages("signinprovider.p1")</p>
			<div class="alert">
            	<p>@Messages("areyouregistered.infomessage")</p>
			</div>

        <div class="form-steps">
            <p>@Messages("signinprovider.button3text")<br />
                <button type="reset" name="action" class="button button-not-implemented" aria-label="Next button">@Messages("signinprovider.button3")</button></p><br />

            <p>@Messages("signinprovider.buttontext")<br />
            <button type="submit" name="action" value="next" class="button" aria-label="Next button">@Messages("signinprovider.button")</button><br />
            <button type="reset" name="action" value="next" class="button button-not-implemented" aria-label="Next button">@Messages("signinprovider.button2")</button></p>
        </div>
    }
  </div>
}