@(vehicleSearchForm: Form[models.domain.change_of_address.V5cSearchModel], name: String)(implicit lang: Lang)

@import mappings.common.Postcode
@import helper._
@import utils.helpers.BaseTemplete._
@import views.html.helper.base._
@import views.html.common._
@import views.html.helper._
@import mappings.change_of_address.V5cSearch._
@import mappings.common.V5cReferenceNumber
@import mappings.common.V5cRegistrationNumber

@main(Messages("v5csearch.title")) {
    @errorsSummary(vehicleSearchForm)

    @form(action = controllers.change_of_address.routes.VehicleSearch.submit) {

            <h2>@Messages("v5csearch.name")</h2>

            <p>@Messages("v5csearch.p1", name + " Booth")</p>

            @valtechInputText(vehicleSearchForm(v5cReferenceNumberId), args =
                '_label -> Messages("v5csearch.v5cinputlabel"),
                '_showConstraints -> false,
                'pattern -> V5cReferenceNumber.pattern,
                'maxLength -> V5cReferenceNumber.maxLength, // Must be set independently of the pattern as the pattern is only checked when the user submits.
                'title -> Messages("v5csearch.v5cinputlabel.refNumIncorrect"))

            @valtechInputText(vehicleSearchForm(v5cRegistrationNumberId), args =
              '_label -> Messages("v5csearch.vrninputlabel"),
              'maxLength -> V5cRegistrationNumber.maxLength,
              '_showConstraints -> false)

            @valtechInputText(vehicleSearchForm(v5cPostcodeId), args =
            '_label -> Messages("v5csearch.postcode.label"),
            '_showConstraints -> false,
            'maxLength -> Postcode.maxLength,
            'title -> Messages("v5csearch.postcode.validation"))

        <div class="form-steps">
            <button type="submit" name="action" class="button">@Messages("v5csearch.button")</button>
            <button type="reset" name="action" class="button-not-implemented">@Messages("v5csearch.button2")</button>
        </div>
    }
}