@(vehicleSearchForm: Form[models.domain.change_of_address.V5cSearchModel], name: String)(implicit lang: Lang)

@import helper._
@import utils.helpers.CarersTemplate._
@import views.html.helper.base._
@import views.html.common._
@import views.html.helper._


@main(Messages("v5csearch.title")) {
    @errorsSummary(vehicleSearchForm)

    @form(action = controllers.change_of_address.routes.VehicleSearch.submit) {
        <fieldset class="form-elements" data-journey="carers-allowance:page:about-you">
            <legend>@Messages("v5csearch.name")</legend>

            <ul>
                <p>@Messages("v5csearch.p1", name + " Booth")</p>

                @carersInputText(vehicleSearchForm(app.ChangeOfAddress.v5cReferenceNumberID), args =
                    '_label -> Messages("v5csearch.v5cinputlabel"),
                    '_showConstraints -> false,
                    'pattern -> Mappings.V5cReferenceNumber.pattern,
                    'maxLength -> Mappings.V5cReferenceNumber.maxLength, // Must be set independently of the pattern as the pattern is only checked when the user submits.
                    'title -> Messages("v5csearch.v5cinputlabel.refNumIncorrect"))

                @carersInputText(vehicleSearchForm(app.ChangeOfAddress.v5cRegistrationNumberID), args =
                  '_label -> Messages("v5csearch.vrninputlabel"),
                  'maxLength -> Mappings.V5cRegistrationNumber.maxLength,
                  '_showConstraints -> false)
            </ul>

        </fieldset>

        <div class="form-steps">
            <button type="submit" name="action" class="button" aria-label="Next button">@Messages("v5csearch.button")</button>
            <button type="reset" name="action" class="button-not-implemented" aria-label="Reset button">@Messages("v5csearch.button2")</button>
        </div>
    }
}