@()(implicit lang: Lang)

@import helper._

@main(Messages("verifyidentity.title")) {
    @form(action = controllers.change_of_address.routes.VerifyIdentity.submit) {
        <fieldset class="form-elements" data-journey="carers-allowance:page:about-you">
            <legend>@Messages("verifyidentity.name")</legend>

            <p>@Messages("verifyidentity.p1")</p><br>

            <p>@Messages("verifyidentity.p2")</p>

        </fieldset>

        <div class="form-steps">
            <button type="submit" name="action" class="button" aria-label="Next button">@Messages("verifyidentity.button")</button>
        </div>
    }

}