@(request: RequestHeader)(implicit lang: Lang)

@import helper._


@common.govMain("GOV.UK - The best place to find government services and information", lang) {
    <div class="vehicles-online">

        @common.protoType()
        @common.helpLine()

        <section class="section-content">
            <h1>This page cannot be found</h1>
            <p>Please check that you have entered the correct web address, or explore <a href="http://www.gov.uk" target="_blank">GOV.UK</a> to find the information you need.</p>
        </section>
    </div>
} {
    @* Additional footer *@
}