// standard alert messages and their variants

#{$htmlNamespace} {

	.alert {
	  background: $light-blue-25;
	  border:3px solid darken($light-blue, 20%);
	  padding: 1em .7em;
	  margin: 1.2em 0;
	  color:darken($light-blue, 20%);
	  position: relative;
	  
	  .alert-icon {
		  @extend %alert-icon;
		  display: none;
	  }
	  
	  &.alert-withicon {
		  padding-left:65px;
		  .alert-icon {
		  	display: block;
		  }
		  .ie7 &, .ie8 & {
			  padding-left:.7em;
			  .alert-icon {
				  display: none !important;
			  }
		  }
	  }
	  
	  ol, ul, p {
	    list-style: none;
	    padding: 0;
	    margin: 0 0 1em 0;
	    font-size: 1.6rem;
	    .ie & {
		    font-size: 16px;
	    }
	    &:last-child {
		    margin-bottom:0;
	    }
	    a {
	      text-decoration: none;
	      color:darken($light-blue, 20%);
	      &:hover {
	        text-decoration:underline;
	      }
	    }
	  }
	  
	  h2 {
	    color:$black;
	    margin-bottom:0.4em;
	  }
	  .emphasized {
	  	word-break: break-all;
		  @include bold-24;
		  display: block;
	  }
	}
	
		
	%alert-icon {
		font-size:50px;
		position: absolute;
		top:0.2rem;
		left:2rem;
		line-height: 100%;
		height: 50%;
		.ie & {
			font-size: 40px;
			left:1rem;
		}
	}
	
	// error alert message
	.alert-error {
	  @extend .alert;
	  border-color: $mellow-red;
	  background: $error-bg;
	  color:$mellow-red;
	  &.alert-withicon {
		  &:after {
			  content:'\2718';
		  }
	  }
	  ol, ul, p {
	    a {
	      color:$mellow-red;
	    }
	  }
	}
	
	.alert-warning {
		@extend .alert;
		border: none;
		background: transparent url(https://assets.digital.cabinet-office.gov.uk/static/icon-important-187bcc8d8a6d56498c4ac26cadad102d.png) left top no-repeat;
		padding: {
			top:.3em;
			left:3em;
		}
		  	
		&.alert-withicon {
		  	&:after {
			  content:"\0021";
			  top:1.5rem;
			  left:2.5rem;
			  font-weight: bold;
		  }
		}
		  
		ol, ul, p {
			@include bold-19;
			color:#000;
			a {
				color:#000;
			}
		}
	}
	
	.alert-complete {
		@extend .alert;
		background: $turquoise;
		border:none;
		text-align: center;
		h1, h2, h3, p, ul {
			color:#FFF;
		}
		h1, h2, h3 {
			display: inline-block;
			background: url(images/icon-tick-green.gif) left 3px no-repeat;
			padding-left:40px;
			@include bold-27;
			.ie7 &, .ie6 & {
				display: block;
				background: none;
				padding-left:0;
			}
			@media screen and (max-width: $device-small) {
				background-position: left top;
			}
		}
	}
	
	.alert-failed {
		@extend .alert;
		background: $red;
		border:none;
		text-align: center;
		h1, h2, h3, p, ul {
			color:#FFF;
		}
		h1, h2, h3 {
			display: inline-block;
			padding-left:40px;
			@include bold-27;
			&:before {
				content: '\2716';
				padding-right: 12px;
			}
			.ie6 & {
				display: block;
				background: none;
				padding-left:0;
			}

		}
	}
	
	.validation {
	    background: $error-bg;
	    padding: .7em;
	    margin-left: -1.5rem;
	    border-left: 3px solid $mellow-red;
	    position: relative;
	    margin-bottom:5px;
	    .ie8 & {
	        margin-left: -15px;
	    }
	    .ie7 & {
	    	margin-left:0;
	    }
	    .ie6 & {
	        zoom: 1;
	    }
	
	    @media screen and (max-width: $device-large) {
	        margin-left: 0; 
	        padding-top: 1em; 
	        padding-bottom: 1em; 
	        width: auto;
	    } 
	
	    .error {
	        color: $mellow-red;
	        font-weight: 300;
	        font-size: 1.5rem;
	        padding:0;
	        margin:0 0 .5em 0;
	
	        .ie & {
	                font-size: 16px;
	        }
	
	        .ie6 & {
	                background: transparent;
	        }
	    }
	}
	
	// error summary message
	.validation-summary {
	    @extend .alert-error;
	    margin: 1em 18% 1em -1em;
	    
	    @media screen and (max-width: $device-large) {
	        margin-right: 0;
	        margin-left:0;
	    }
	    
	    ol, ul {
		    padding-left:2.2em;
		    @media screen and (max-width: $device-small) {
		    	padding-left:0;
		    }
	    }
	    
	}

}