// all things forms

form {
	display: block;
}

legend {
	font: {
		size: 1.9rem;
		weight: 400;
	}
	line-height: 1.2em;
   	padding-bottom: .3em;
   	
   	.ie & {
	   font-size: 19px;
   	}
	
	.ie7 & {
   	   	margin-left: -10px;
	}

}

label {
	display: block;
	padding-bottom: .3em;
	cursor: pointer;
	font: {
		size: 1.9rem;
		weight: 400;
	}
	line-height: 1.3em;

	.ie & {
	   	font-size: 19px;
   	}

	em {
	   font-size: 1.4rem;
	   .ie & {
		   font-size: 14px;
	   }
   }

}

input[type="text"], 
input[type="number"], 
input[type="tel"], 
textarea {
    background: $form-element-bg;
	border: 1px solid $form-element-border;
	font: {
		size:1.9rem;
		weight: 400;
	}
	line-height: 1.31579;
	padding: 0.25em 0 0.1em 0.4em;
	width: 28.3rem;

	.ie & {
		font-size: 19px;
		width: 283px;
	}

	.ie7 &, .ie8 & {
		padding: 0.2em 0 0.4em 0.4em;
	}

	@media screen and (max-width: $device-small) {
		width: 100%;
		@include box-sizing(border-box);
		.ie7 &, .ie8 & {
			width:97%;
		}
	}

	&.postcode {
		text-transform: uppercase;
	}

	&.datepicker {
		cursor: pointer;
		background: #f9f9f9 url('images/calendar-icon.png') 97% 50% no-repeat;
		position: relative;
		z-index: 20;
		.ie7 & {
			cursor: auto;
			background: #f9f9f9;
		}
	}
}

textarea {
   	height: 6em;
   	width: 56.6rem;
   	@media screen and (max-width: $device-small) {
   		width: 96%;
   	}

   	.ie & {
	   	width: 566px;
   	}
}

select {
   padding: 5px;
   position: relative;
   font-size: 1.5rem;
   height: 33px;
   background: $form-element-bg;
   border: 1px solid $form-element-border;
   vertical-align: middle;
   max-width: 100%;

   .ie & {
	   min-width: 150px;
	   max-width: 293px;
	   height: auto;
	   font-size: 15px
   }

   .ie8 & {
	   min-width: 0;
   }

}

.form-item {
	margin:0 0 1.5em 0;
	padding: 0;

}

// style labels for checkboxes - useful for declarations
.form-checkbox,
.form-radio {
	position:relative;
	padding-left:25px;
	font-size: 1.7rem;
	.ie & {
		font-size:17px;
	}
	input {
		position: absolute;
		top:0;
		left:0;
	}
}

.form-inline {
   	.form-item {
   		display: inline-block;
   		margin-right:5px;
   		.ie7 & {
	   		display: inline;
	   		float:left;
	   	}
   	}
   	
   	&.form-date {
   		label {
		   	@include sr-only;
	   	}
   		select {
   			min-width: 5em;
   			max-width: 10em;
   			top:-3px;
   			line-height:normal;
     		padding:px;
   		}
   		input {
   			min-width: 4em;
   			max-width: 4em;
   		}
   	}
}

.form-address-stack {
   	label {
	   	@include sr-only;
   	}
   	.form-item {
   		margin:0 0 10px 0;
   		padding: {
   			top:0;
   			bottom:0;
   		}
   	}
}

.form-ni-number {
	label {
		@include sr-only;
	}
	input[type="text"], 
	input[type="tel"] {
		width: 4.4rem;
		text-transform: uppercase;
	}
}

.helper {
	font: {
		size:1.6rem;
		weight:300;
	}
   	margin-top: .4em;

   	.ie & {
	   	font-size: 16px;
   	}

   	&.above {
	   	margin-top: 0;
   	}
}

/* button panel */
.form-steps {
   margin-top: 1.2em;
   clear: both;
   @media screen and (max-width: $device-small) {
   		padding-left: 0;
   	}
   p {
	   padding-bottom: 0.2em;
	   clear: both;
   }
   a {
	   font-weight: 500;
	   .ie7 & {
		   width: auto;
		   display: block;
		   padding: .4em 1em;
	   }
   }
   	.button {
   		display: inline-block;
   		
   		@media screen and (max-width: $device-small) {
   			display: block;
   			width:100%;
   			margin: {
	   			right:0;
   			}
   			padding: {
	   			left:0;
	   			right:0;
   			}
   		}
   		
   	}
   	
   	
}