//forms

#{$htmlNamespace} {

    //Hides .js-only if .js-enabled not applied to <body>
    body:not(.js-enabled) &  .js-only {
        display:none;
    }

    //Hides .no-js-only if .js-enabled is applied to <body>
    body.js-enabled & .no-js-only {
        display:none;
    }

    fieldset {
        border: none;
        padding: 0;
    }

    legend {
        font: {
            size: 1.9rem;
            weight: 400;
        }
        color:$black-2;
        line-height: 1.2em;
        padding-bottom: .3em;
        .ie & {
            font-size: 19px;
            padding-bottom: .5em;
        }
        .ie7 & {
            margin-left: -10px;
        }
    }

    label {
        display: block;
        padding-bottom: .3em;
        font: {
            size: 1.9rem;
            weight: 400;
        }
        line-height: 1.3em;
        .ie & {
            font-size: 19px;
        }
        em {
            font-size: 1.4rem;
            .ie & {
                font-size: 14px;
            }
        }
    }

    input[type="text"],
    input[type="number"],
    input[type="tel"],
    input[type="password"],
    input[type="search"],
    textarea {
        background: $form-element-bg;
        border:1px inset $form-element-border;
        font: {
            size:1.9rem;
            weight: 400;
        }
        line-height: 1.31579;
        padding: 0.25em 0 0.1em 0.4em;
        width: 28.3rem;
        .ie & {
            font-size: 19px;
        }
        .ie7 &, 
        .ie8 & {
            padding: 0.2em 0 0.4em 0.4em;
            width: 283px;
        }
        @media screen and (max-width: $device-small) {
            width: 100%;
        @include box-sizing(border-box);
            .ie7 &, .ie8 & {
                width:97%;
            }
        }
        &.postcode {
            text-transform: uppercase;
        }
    }

    .read-only-input {
        line-height: 1.31579;
        padding: 0.25em 0 0.1em 0.4em;
        width: 28.3rem;
        border: 1px solid $grey-5;
        cursor: default;
        font: {
            size:1.9rem;
            weight: 400;
        }
        .ie & {
            font-size: 19px;
        }
        .ie7 &, 
        .ie8 & {
            padding: 0.2em 0 0.4em 0.4em;
            width: 283px;
        }
        @media screen and (max-width: $device-small) {
            width: 100%;
            @include box-sizing(border-box);
            .ie7 &, .ie8 & {
                width:97%;
            }
        }
    }

    textarea {
        height: 6em;
        width: 56.6rem;
        @media screen and (max-width: $device-small) {
            width: 96%;
        }
        .ie & {
            width: 566px;
        }
    }

    select {
        padding: 5px;
        position: relative;
        font-size: 1.5rem;
        background: $form-element-bg;
        border:1px inset $form-element-border;
        vertical-align: middle;
        max-width: 100%;
        .ie & {
         height: auto;
         font-size: 15px
        }
        .ie8 & {
         min-width:0;
        }
    }
    input:focus, 
    textarea:focus, 
    select:focus {
        outline: 3px solid $yellow;
    }



    .form-item {
        margin:0 0 1.5em 0;
        padding: 0;
    }

    //style labels for checkboxes and radio widgets
    .form-checkbox,
    .form-radio {
        position:relative;
        padding-left:25px;
        font-size: 1.7rem;
        input {
            position: absolute;
            top:0;
            left:0;
        }
        .ie & {
            font-size:17px;
        }
        .ie6 & {
            input {
                left:-25px;
            }
        }
    }

    label.form-checkbox {
        cursor:pointer;
        .ie6 & {
            cursor:default;
        }
    }

    .form-declaration {
        label {
            font-weight: bold;
        }
    }

    //stacked address
    .form-address-stack {
        label {
            @include sr-only;
        }
        .form-item {
            margin:0 0 10px 0;
            padding: {
                top:0;
            }
            display: inline-block;
            margin: {
                right:5px;
                bottom:0;
            }
        }
    }




    //form elements in a line
    .form-inline {
        .form-item {
            display: inline-block;
            margin: {
                right:5px;
                bottom:0;
            }
            .ie7 & {
                display: inline;
                float:left;
            }
        }

        &.form-date {
            label {
                @include sr-only;
            }
            select {
                min-width: 5em;
                max-width: 10em;
                line-height:normal;

            }
            input {
                min-width: 4em;
                max-width: 4em;
            }
        }
        @media screen and (max-width: $device-x-small) {
            select {
                margin-bottom:7px;
            }
        }
    }

    //container for action buttons at the base of a page
    .form-steps {
        margin-top: 2.2em;
        clear: both;
        @include clearfix;

        @media screen and (max-width: $device-small) {
            padding-left: 0;
        }

        .step {
            display:inline-block;
            vertical-align:top;
            @media screen and (max-width: $device-small) {
                display:block;
                width:100%;
            }
            .ie7 &,
            .ie6 & {
                display:inline;
            }
        }
        p {
            padding-bottom: 0.2em;
            clear: both;
        }
        a {
            font-weight: 500;
            .ie7 & {
                width: auto;
                display: block;
                padding: .4em 1em;
            }
        }
        a, 
        input, 
        .button,
        .button-secondary {
            display: inline-block;
            vertical-align: middle;

            @media screen and (max-width: $device-small) {
                display: block;
                width:100%;
                float:none;
                margin: {
                    right:0;
                }
                padding: {
                    left:0;
                    right:0;
                }
            }

        }
        br {
            clear:both;
        }
    }

    //uppercase text inputs (class is applied to a parent wrapper)
    .uppercase-input input {
        @include to-uppercase;
    }

}