//app/prototype specific styling

#{$htmlNamespace} {
    background: $white;
    margin: 0 auto;
    max-width: 980px;

   	@media screen and (max-width: $device-small) {
        border-top: 10px solid phase-colour($phase);
    }

    .section-content {
        padding: 1.7em 1em 0 1em;
        margin-bottom:4em;
        @include clearfix;
        .ie7 & {
            display:inline-block;
        }
    }

    h1 {
        @include heading-36;
        font-weight: 700;
        margin-bottom:0.4em;
        .ie & {
            font-size: 36px;
        }
    }

    h2 {
        @include core-24;
        font-weight: 700;
        margin-bottom:0.6em;
        .ie & {
            font-size: 24px;
        }
    }

    p {
        @include copy-19;
        .ie & {
            font-size:19px;
        }

        &.link-manual-address {
            position: relative;
            top:-0.3em;
        }
    }

    ol, ul {
        @include copy-19;
        list-style:none;
        padding-left:25px;
        &.list-standard {
            list-style: decimal;
            list-style-position: outside;
            li {
                margin-bottom:1em;
            }
        }
    }

    dd {
        margin:0;
    }
    
    .img-wrap {
      @include img-multi-wrap(300px);
    }

    //information list
    //this could be a DL element, or a wrapping div
    .summary-detail-list {
        @include clearfix;
        margin:23px 0 20px 0;
        margin:2.3rem 0 2rem 0;
        //padding:10px;
        //padding:1rem;
        //background:$grey-3;

        p {
            margin:0;
        }

        dt, dd {
            @include copy-19;
            margin-bottom:0;

            .ie & {
                font-size:17px;
            }
        }
        dt {
            float:left;
            width:190px;
            font-weight:bold;
            clear:left;

            @media screen and (max-width: $device-small) {
                padding-top:0;
                margin-bottom:0;
            }
        }
        dd {
            @include to-uppercase;
            overflow:hidden;

            @media screen and (max-width: $device-small) {
                clear:both;
            }
        }

        .ie6 & {
            dt,dd {
                float:none;
            }
        }

        //smaller width, more flexible container
        &.summary-detail-list-flex {
            @include summary-detail-list-flex;
        }
    }

    //styles two column layout
    .two-col {
        @include clearfix;
        width:100%; //failsafe

        .first-col {
            @include clearfix;
            width:47%;
            float:left;
            @media screen and (max-width: $device-small) {
                float:none;
                width:100%;
                clear:both;
                margin-bottom:2em;
            }
        }
        .second-col {
            @include clearfix;
            width:47%;
            float:right;
            @media screen and (max-width: $device-small) {
                float:none;
                width:100%;
                clear:both;
                margin-bottom:2em;
            }
        }
    }
    
}