// app/prototype specific styling

#{$htmlNamespace} {
   	background: $white;
   	margin: 0 auto;
   	max-width: 980px;

   	.ie6 & {
	   	width: 980px;
   	}

   	@media screen and (max-width: $device-small) {
   		border-top: 10px solid phase-colour($phase);
   	}

	.section-content {
		padding: 1.7em 1em 4em 1em;
      @include clearfix;
      overflow: hidden;
	}

	h1 {
   	@include heading-36;
   	font-weight: 700;
   	margin-bottom:0.4em;
   	.ie & {
	   	font-size: 36px;
   	}
 	}

 	h2 {
 		@include core-24;
 		font-weight: 700;
 		margin-bottom:0.6em;
 		.ie & {
		   	font-size: 24px;
	   	}
 	}
 	
 	p {
	 	font-size:1.7rem;
	 	margin:0 0 1em 0;
	 	.ie & {
		 	font-size:17px;
	 	}
 	}

 	ol, ul {
 		padding:0;
 		margin:0 0 1em 0;
 		list-style:none;
 		&.list-standard {
	 		list-style: decimal;
	 		list-style-position: outside;
	 		margin-left:1.3em;
	 		li {
		 		margin-bottom:1em;
	 		}
 		}
 	}
 	
 	// styles two column information items
 	.summary-detail-list {
		margin:2.3rem 0 0 0;
		padding:0;
		
		dt, dd {
			margin:0;
			font-size:1.7rem;
			padding: 0.4em 0;
			.ie & {
				font-size:17px;
			}
		}
		dt {
			float:left;
			width:150px;
			font-weight: bold;
			clear:left;
		}
		dd {
			overflow: hidden;
		}
	}
	
	// add out of scope watermark
	.out-of-scope {
	  background:#FFF url(#{$image-path}out-of-scope-sml.gif) center center repeat;  
	}
	
	// styles two column layout
	.two-col {
		@include clearfix;
		.first-col {
			@include clearfix;
			width:47%;
			float:left;
			@media screen and (max-width: $device-small) {
				float:none;
				width:100%;
				clear:both;
				margin-bottom:2em;
			}
		}
		.second-col {
			@include clearfix;
			width:47%;
			float:right;
			@media screen and (max-width: $device-small) {
				float:none;
				width:100%;
				clear:both;
				margin-bottom:2em;
			}
		}
	}
}