#{$htmlNamespace} {
   	background: $white;
   	margin: 0 auto;
   	max-width: 980px;

   	.ie6 & {
	   	width: 980px;
   	}

   	@media screen and (max-width: $device-small) {
   		border-top: 10px solid phase-colour($phase);
   	}

	.section-content {
		padding: 1.7em 1em 4em 1em;
      @include clearfix;
      overflow: hidden;
	}

	h1 {
   	@include heading-36;
   	font-weight: 700;
   	.ie & {
	   	font-size: 36px;
   	}
 	}

 	h2 {
 		@include core-24;
 		font-weight: 700;
 		.ie & {
	   	font-size: 24px;
   	}
 	}

 	ol, ul {
 		padding:0;
 		margin:0 0 1em 0;
 		list-style:none;
 	}
 	
 	.summary-detail-list {
		margin:2.3rem 0 0 0;
		padding:0;
		
		dt, dd {
			margin:0;
			font-size:1.9rem;
			padding: 0.4em 0;
			.ie & {
				font-size:19px;
			}
		}
		dt {
			float:left;
			width:150px;
			font-weight: bold;
			clear:left;
		}
		dd {
			overflow: hidden;
		}
	}
	
	.out-of-scope {
	  background:#FFF url('images/out-of-scope-sml.gif') center center repeat;  
	}
}