//Page specific

//enter address manually
.enter-address-manually {
    label {
        @include sr-only;
    }
    .post-town label {
        position:relative;
        top:0;
        left:0;
        .ie7 & {
            width:100%;
        }
    }
}

//vehicle lookup/enter vehicle details
.vehicle-lookup {
    .first-col .form-steps {
        margin-top:0;

        .form-step {
          display:inline-block; //failsafe
          vertical-align:middle;
          width:100%;
        }
        .ie7 &,
        .ie6 & {
          form {
            margin-top:0;
          }
        }
        .button,
        .button-secondary {
          min-width:69px;
        }
        a.button-secondary {
          min-width:50px;
          .ie7 & {
            min-width:0;
          }
        }
        .button-finish {
          min-width:72px;
          .ie7 &,
          .ie6 & {
            margin-top:0;
          }
        }

    }

    .button-finish {
      border:0 none;
      background:none;
      text-decoration:underline;
      @include box-shadow(none);
      -webkit-appearance:none;
      &:hover,
      &:active {
        background:none;
      }
    }

    .trader-details {
        .summary-detail-list {
            margin-bottom:38px;
            margin-bottom:3.75rem;
            @media screen and (max-width:$device-small) {
                margin-bottom:20px;
                margin-bottom:2rem;
            }
        }
        dd {
            .ie6 & {
                clear:both;
            }
        }
    }
}

//disposal
.disposal-date {
    legend {
        margin-top:20px;
    }
    .ie6 & {
        .form-date .form-item {
            float:left;
        }
    }
}