//enter address manually
.enter-address-manually {
    label {
        @include sr-only;
    }
    .post-town label {
        position:relative;
        top:0;
        left:0;
        .ie7 & {
            width:100%;
        }
    }
}

//vehicle lookup/enter vehicle details
.vehicle-lookup {
    .first-col .form-steps {
        margin-top:0;
    }
    //hide exit button in IE6/IE7 (double form posts do not work)
    .exit-button {
        .ie6 &,
        .ie7 & {
            display:none;
        }
    }
    .trader-details {
        .summary-detail-list {
            margin-bottom:38px;
            margin-bottom:3.75rem;
            @media screen and (max-width:$device-small) {
                margin-bottom:20px;
                margin-bottom:2rem;
            }
        }
        dd {
            .ie6 & {
                clear:both;
            }
        }
    }
}

//disposal
.disposal-date {
    legend {
        margin-top:20px;
    }
    .ie6 & {
        .form-date .form-item {
            float:left;
        }
    }
}