@(field: play.api.data.Field, args: (Symbol, Any)*)(implicit handler: helper.FieldConstructor, lang: Lang)

@import helper._
@import utils.helpers.CryptoHelper
@import utils.helpers._
@import views.html.helper.base._
@import utils.helpers.HtmlArgsExtensions._
@import play.api.templates.PlayMagic.toHtmlArgs

@input(field, args:_*) { (id, name, value, htmlArgs) =>
    @valtechLabel(field, args: _*)

    <input type="text"
        id="@CryptoHelper.encryptAES(id)"
        name="@CryptoHelper.encryptAES(name)"
        value="@value"
        @toHtmlArgs(htmlArgs.maxLengthRules.autoCompleteRules)
    >
}

