@(field: play.api.data.Field, args: Map[Symbol, Any])(implicit handler: helper.FieldConstructor, lang: Lang)

@import constraints.common.Required.RequiredField
@import play.api.templates.PlayMagic.toHtmlArgs
@import utils.helpers.HtmlArgsExtensions._
@import views.html.helper._
@import views.html.helper.base._

@input(field, args.toSeq:_* ) { (id, name, value, htmlArgs) =>

    @valtechLabel(field,args)

    <input type="tel"
        id="@id"
        name="@name"
        pattern="[0-9]{1,20}"
        title="Must be numbers only" @* TODO move this value into a constant *@
        value="@value"
        @{if(field.constraints.find(_._1 == RequiredField)) "aria-required=true" else ""} @* TODO move this into an extension method and write unit tests *@
        @{if(field.hasErrors) "aria-invalid=true" else ""} @* TODO move this into an extension method and write unit tests *@
        @toHtmlArgs(htmlArgs.maxLengthRules.autoCompleteRules)>
}