@(field: play.api.data.Field, args: Map[Symbol, Any])(implicit handler: helper.FieldConstructor, lang: Lang)

@import constraints.common.Required.RequiredField
@import play.api.templates.PlayMagic.toHtmlArgs
@import views.html.helper._
@import views.html.helper.base._

@boxValue = @{ args.toMap.get('value).getOrElse("true") } @*TODO make a helper extension method for this.*@

@input(field, args.toSeq: _*) { (id, name, value, htmlArgs) =>

@*TODO make a helper extension method for this. This is really confusing as 'value' is being set in a separate method above *@
<label class="form-checkbox">
    <input type="checkbox"
           id="@id"
           name="@name"
           value="@boxValue"
           @{if(value == Some(boxValue)) "checked" else ""}
           @{if(field.constraints.find(_._1 == RequiredField)) "aria-required=true" else ""} @* TODO move this into an extension method for fields *@
           @{if(field.hasErrors) "aria-invalid=true" else ""} @* TODO move this into an extension method and write unit tests *@
           @toHtmlArgs(htmlArgs.filterKeys(_ != 'value))
    >

    @valtechLabelText(field,args)
</label>
}