@(field: play.api.data.Field, defaultOptionMessage: String = "select_default", options: Seq[(String, String)], args: Map[Symbol, Any] = Map.empty)(implicit handler: helper.FieldConstructor, lang: Lang)

@import constraints.common.Required.RequiredField
@import play.api.templates.PlayMagic.toHtmlArgs
@import utils.helpers.SelectHelper._
@import views.html.helper.base.valtechLabel

@helper.input(field, args.toSeq: _*) { (id, name, selectedKey, htmlArgs) =>
    @valtechLabel(field, args)

    <select id="@field.id"
        name="@name"
        @{if(field.constraints.find(_._1 == RequiredField)) "aria-required=true" else ""} @* TODO move this into an extension method and write unit tests *@
        @{if(field.hasErrors) "aria-invalid=true" else ""} @* TODO move this into an extension method and write unit tests *@
        @toHtmlArgs(htmlArgs)
    >
        @defaultOption(htmlArgs)

        <option value="">@Messages(defaultOptionMessage)</option> @* Default option that appears at the top of a drop down. Should describe the column. *@
            @options.map { case (mappingValue, humanReadableLabel) =>
            <option value="@mappingValue" @(if(selectedKey == Some(mappingValue)) "selected" else "")>@humanReadableLabel</option>
            }
    </select>
}