@(field: play.api.data.Field, defaultOptionMessage: String = "select_default", options: Seq[(String, String)], args: Map[Symbol, Any] = Map.empty)(implicit handler: helper.FieldConstructor, lang: Lang)

@import views.html.helper.base.valtechLabel
@import utils.helpers.CryptoHelper
@import utils.helpers._
@import utils.helpers.SelectHelper._
@import play.api.templates.PlayMagic.toHtmlArgs

@helper.input(field, args.toSeq: _*) { (id, name, selectedKey, htmlArgs) =>
    @valtechLabel(field, args)

    <select id="@CryptoHelper.encryptAES(field.id)"
        name="@CryptoHelper.encryptAES(name)"
        @{if(field.constraints.find(_._1 == "constraint.required")) "aria-required=true" else ""} @* TODO move this into an extension method for fields *@
        @toHtmlArgs(htmlArgs)
    >
        @defaultOption(htmlArgs)

        <option value="">@Messages(defaultOptionMessage)</option> @* Default option that appears at the top of a drop down. Should describe the column. *@
        @options.map { case (mappingValue, humanReadableLabel) =>
            <option value="@mappingValue" @(if(selectedKey == Some(mappingValue)) "selected" else "")>@humanReadableLabel</option>
        }
    </select>
}