/* prompt panel */
   .prompt {
	   background: #d5e8f3;
	   padding: 1.4em 1em;
	   margin: 1em 0 0 -1em;
	   @media screen and (max-width: 640px) {margin-left: 0;}
	   p {
		   margin-top: .25em;
		   &:first-child {
			   margin-top: 0;
		   }
	   }
	   &.error {
		   background: #f2f2f2;
	   }
	   &.submitting {
	   	   position: relative;
	   	    @media screen and (max-width: 660px) {
		   	    padding-right: 4em;
	   	    }
		   p {
			   margin: .5em 0 0 0;
			   font-weight: 600;
			   font-size: 1.7rem;
			   &:first-child {
				   margin: 0;
			   }
			   @media screen and (max-width: 660px) {
				   margin-top: 1em;
			   }
		   }
		   span {
			   position: absolute;
			   top: 1.4em; 
			   right: .8em;
			   width: 36px;
			   height: 36px;
			   margin-top: -18px;
			   border-radius: 100px;
			   background: #008bc2;
			   color: #fff;
			   text-align: center;
			   font-size: 2.6rem;
			   font-weight: 700;
			   .ie & {
				   font-size: 26px;
			   }
			    @media screen and (max-width: 660px) {width: 50px; height: 50px; font-size: 3.8rem; top: 1em; right: .5em;
				    .ie & {
					    font-size: 38px;
				    }
			    }
		   }
	   }

	  
	   &.breaks-prompt {
		   background: #fef7f7;
		   border: 3px solid #df3034;
		   position: relative;
		   display: none;
		   .ie7 & {
			   overflow: hidden;
		   }
		   p {
			   padding-right: 5em;
			   margin-bottom: .35em;
			   @media screen and (max-width: 500px) {line-height: 1.2em;}
		   }
		   span {
			   position: absolute;
			   top: 50%; 
			   right: 16px;
			   width: 36px;
			   height: 36px;
			   margin-top: -18px;
			   border-radius: 100px;
			   background: #990c1a;
			   color: #fff;
			   text-align: center;
			   font-size: 2.6rem;
			   font-weight: 700;
			   .ie & {
				   font-size: 26px;
			   }
			    @media screen and (max-width: 660px) {width: 50px; height: 50px; margin-top: -25px; font-size: 3.8rem;
				    .ie & {
					    font-size: 38px;
				    }
			    }
		   }
	   }
   }