.footer {
    background-color: $grey-3;
    border-top: 1px solid $grey-6;
    .footer-wrapper {
        max-width: 960px;
        margin: 0 auto;
        padding: 30px 1em;
    }
    ul li {
        display:inline-block;
        margin:0 15px 0 0;
        margin:0 1.5rem 0 0;
    }
    a {
        color: $grey-7;
        &:hover {
            color: $black-3;
        }
    }
    h2 {
        font-family:$NTA-Light;
        font-size: 24px;
        font-size: 2.4rem;
        line-height: 1.25;
        font-weight: 400;
        text-transform: none;
        color: $grey-7;
        margin: 0;
    }

    .footer-meta {
        clear: both;
        font-size: 0;
        color: $grey-7;
        border: 1px solid $grey-6;
        border-width: 1px 0 0 0;
        border-top:0 none;
        margin:0;
        padding:0;

        .nav-wrapper {
            display: inline-block;
            vertical-align: bottom;
            width: 69%;
            ul {
                font-family:$NTA-Light;
                font-size: 16px;
                font-size: 1.6rem;
                line-height: 1.5;
                font-weight: 300;
                text-transform: none;
                display: inline-block;
                list-style: none;
                margin: 0 0 1em;
                padding: 0;
            }
            p {
                font-family:$NTA-Light;
                font-size: 16px;
                font-size: 1.6rem;
                line-height: 1.25;
                font-weight: 300;
                text-transform: none;
                display: block;
                clear: left;
                margin: 1em 0;
            }
        }
        .copyright {
            font-family:$NTA-Light;
            font-size: 16px;
            font-size: 1.6rem;
            line-height: 1.25;
            font-weight: 300;
            text-transform: none;
            display: inline-block;
            float: none;
            position: relative; 
            top: 2px;
            width: 30%;
            min-height: 150px;
            min-height: 15rem;
            text-align: inherit;
            a {
                display: block;
                padding: 115px 0 0 0;
                padding: 11.5rem 0 0 0;
                background: transparent url(https://assets.digital.cabinet-office.gov.uk/static/govuk-crest-795cd6afb205d81a4267e100e11debe1.png) no-repeat 50% 0;
                text-align: center;
                text-decoration: none;
            }
        }

        //IE7-6 inline block, see:
        //http://stackoverflow.com/questions/5838454/inline-block-doesnt-work-in-internet-explorer-7-6
        .nav-wrapper,
        .copyright,
        .nav-wrapper ul li {
            display: inline-block;
            *display: inline;
            zoom: 1;
        }
    }
}


@media (max-width: $device-small) {
    .footer {
        h2 {
            font-size:2rem;
            line-height:1.2;
        }
        .footer-meta {
            margin: 0;
            .nav-wrapper {
                display: block;
                width: 100%;
                ul {
                    font-size: 1.4rem;
                    line-height: 1.5;
                    width: 100%;
                    margin: 0 0 0.5em 0;
                    text-align:center;
                    li {
                        display:inline-block;
                        margin:0 0.75rem;
                        a {
                            display:block;
                            padding:12px 5px;
                        }
                        &:last-child {
                            clear: both;
                            display: block;
                            padding: 0 5px;
                            a {
                              padding-top:0;
                            }
                        }
                    }
                }
            }
            .copyright {
                font-size: 1.4rem;
                line-height: 1.14286;
                width: 100%;
                display: block;
                padding: 0;
                margin: 30px 0 0 0;
                margin: 3rem 0 0 0;
                min-height: 0;
            }
        }
        .footer-wrapper {
            max-width:100%;
            padding-top: 20px;
            padding-top: 2rem;
        }
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), 
only screen and (min--moz-device-pixel-ratio: 2), 
only screen and (-o-min-device-pixel-ratio: 20 / 10), 
only screen and (min-device-pixel-ratio: 2), 
only screen and (min-resolution: 192dpi), 
only screen and (min-resolution: 2dppx) {
    .footer .footer-meta .copyright a {
        background-image: url(https://assets.digital.cabinet-office.gov.uk/static/govuk-crest-2x-1da912cf347870372d1245bc44ecb4a7.png);
        background-size: 125px 102px;
    }
}