//Header prompts, messages 
//eg cookie message, beta notice

.beta-notice {
    background-color: $orange;
    color: $white;
}

.js-enabled #global-cookie-message {
    display: none;
}

#global-cookie-message, 
.beta-notice {
    padding: 0.5em 1em;
    p {
        font-family:$NTA-Light;
        font-size: 19px;
        font-size: 1.9rem;
        line-height: 1.31579;
        font-weight: 400;
        text-transform: none;
        margin: 0 auto;
        max-width: 960px;
    }
}

#global-cookie-message {
    background-color: $light-blue-25;
    .cookie-message-wrapper {
        margin:0 auto;
    }
    .ie6 & {
        padding-left:1em;
        padding-right:1em;
    }
} 

@media (max-width: $device-small) {
    #global-cookie-message, 
    .beta-notice {
      padding: 0.5em 1em;
        p {
            font-size: 1.6rem;
            line-height: 1.25;
        }
    }
}