//Header phase

.header-phase {
    float:left;
    margin-left:15px;
    margin-bottom:8px;
    h1.page-title {
        @include bold-19;
        position: relative;
        padding-right:6em;
        color: $white;
        padding: .3em 6em 0 0;
        width: auto;
        @media screen and (max-width: $device-small) {
            padding-right:7em;
        }

        span {
            display: inline-block;
            width: auto;
            margin-left: .75em;
            letter-spacing: 0.2em;
            font-weight: 700;
            font-size: 1.4rem;
            text-transform: uppercase;
            padding: 6px 10px 4px 10px;
            position: absolute;
            top: 2px;
            right:15px;
            .ie & {
                font-size: 14px;
            }
        }
        &.alpha {
            span {
                background: phase-colour($phase);
            }
        }
        &.beta {
            span {
                background: phase-colour($phase);
            }
        }
    }
    h2 {
        @include bold-14;
        margin-top:5px;
        a {
            color:$white;
            text-decoration: none;
            margin-right: 1em;
            &:visited {
                color:$white;
            }
            &:hover {
                text-decoration: underline;
            }
        }
    }
}