//Header and footer
//this file imports all header/footer elements

.global-header {
    background-color: $header-colour;
    width: 100%;
    h1 a:focus {
        background-color: transparent;
        outline: none;
    }
    a:focus {
        color: $black-2;
    }

    .header-wrapper {
        max-width: 990px;
        margin: 0 auto;
        padding: 0.5em 1px;
        &:after {
            content: "";
            display: block;
            clear: both;
        }
        .ie6 & {
            margin-bottom:15px;
        }
    }
    .header-logo {
        width: auto;
        float: left;
        margin: 5px 80px 10px 0;
        .content {
            float: left;
            position: relative;
            width: 166px;
            height: 30px;
            overflow: hidden;
            margin: 0 15px;
            img {
                position: absolute;
                left: -212px;
                top: 0;
                border: none;
                width: 200%;
                height: 300%;
            }
            &:hover img {
                top: -30px;
            }
        }
    }
    .header-global {
        &:after,
        .header-logo:after {
            content: "";
            display: block;
            clear: both;
        }
    }
}

@media screen and (max-width: 379px) {
    .global-header .header-logo {
        width: auto;
        float: none;
    }
}

@media (max-width: $device-small) {
    .global-header .header-wrapper {
        padding: 0.5em 0;
    }
}

@media (min-width: 769px) {
    .global-header .header-logo {
        //width: 33.33%;
    }
}

@import '_header-phase';
@import '_header-prompts-messages';
@import '_footer';