@import '_font_stack';
@import '_conditionals';
@import '_device-pixels';


//common elements

ol, ul {
    list-style: inherit;
}

nav {
    ol, ul {
        list-style: inherit;
    }
}

a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
    color: $purple-2;
    &:visited {
        color: $purple-2;
    }
    &:hover, &:active {
        color: $link-active-colour;
    }
    &:focus {
        background-color: $yellow;
        outline: 3px solid $yellow;
    }
    &[rel="external"] {
        &:after {
            background-image: url(https://assets.digital.cabinet-office.gov.uk/static/external-link-4247fe6cbf644abe4092032a36a5837e.png);
            background-repeat: no-repeat;
            content: "\A0\A0\A0\A0";
            background-position: right 6px;
        }
        &:hover:after {
            background-position: right -382px;
        }
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    a[rel="external"]:after {
        background-image: url(https://assets.digital.cabinet-office.gov.uk/static/external-link-24x24-d888ebcab9570f3a9e2d96f852ac841e.png);
        background-size: 12px 400px;
    }
}

@media (max-width: 640px) {
    a[rel="external"] {
        &:after {
            content: "\A0\A0\A0\A0\A0";
            background-position: right 3px;
        }
        &:hover:after {
            background-position: right -385px;
        }
    }
}

b, strong {
    font-weight: 600;
}



//GOV.UK typography palettes
//
//These mixins are deliberately abstracted
//from semantic HTML context to enable flexible re-use.
//Although there is a lot of duplication within this file, as long
//as you GZIP your CSS it shouldnt cause any bloat.

//CORE FONTS - NEW TRANSPORT
$is-print: false !default;

@mixin core-80($line-height: (80 / 80), $line-height-640: (55 / 53), $tabular-numbers: false) {
    @if $tabular-numbers == true {
        font-family: $NTA-Light-Tabular;
    } @else {
        font-family: $NTA-Light;
    }
    @if $is-print == false {
        font-size: 80px;
    } @else {
        font-size: 28pt;
    }
    line-height: $line-height;
    font-weight: 400;
    text-transform: none;
    @media (max-width: 640px) {
        font-size: 53px;
        line-height: $line-height-640;
    }
}

@mixin core-48($line-height: (50 / 48), $line-height-640: (35 / 32), $tabular-numbers: false) {
    @if $tabular-numbers == true {
        font-family: $NTA-Light-Tabular;
    } @else {
        font-family: $NTA-Light;
    }
    @if $is-print == false {
        font-size: 48px;
    } @else {
        font-size: 18pt;
    }
    line-height: $line-height;
    font-weight: 400;
    text-transform: none;
    @media (max-width: 640px) {
        font-size: 32px;
        line-height: $line-height-640;
    }
}

@mixin core-36($line-height: (40 / 36), $line-height-640: (25 / 24), $tabular-numbers: false) {
    @if $tabular-numbers == true {
        font-family: $NTA-Light-Tabular;
    } @else {
        font-family: $NTA-Light;
    }
    @if $is-print == false {
        font-size: 36px;
    } @else {
        font-size: 18pt;
    }
    line-height: $line-height;
    font-weight: 400;
    text-transform: none;
    @media (max-width: 640px) {
        font-size: 24px;
        line-height: $line-height-640;
    }
}

@mixin core-27($line-height: (30 / 27), $line-height-640: (20 / 18), $tabular-numbers: false) {
    @if $tabular-numbers == true {
        font-family: $NTA-Light-Tabular;
    } @else {
        font-family: $NTA-Light;
    }
    @if $is-print == false {
        font-size: 27px;
    } @else {
        font-size: 16pt;
    }
    line-height: $line-height;
    font-weight: 400;
    text-transform: none;
    @media (max-width: 640px) {
        font-size: 18px;
        line-height: $line-height-640;
    }
}

@mixin core-24($line-height: (30 / 24), $line-height-640: (24 / 20), $tabular-numbers: false) {
    @if $tabular-numbers == true {
        font-family: $NTA-Light-Tabular;
    } @else {
        font-family: $NTA-Light;
    }
    @if $is-print == false {
        font-size: 24px;
    } @else {
        font-size: 16pt;
    }
    line-height: $line-height;
    font-weight: 400;
    text-transform: none;
    @media (max-width: 640px) {
        font-size: 20px;
        line-height: $line-height-640;
    }
}

@mixin core-19($line-height: (25 / 19), $line-height-640: (20 / 16), $tabular-numbers: false) {
    @if $tabular-numbers == true {
        font-family: $NTA-Light-Tabular;
    } @else {
        font-family: $NTA-Light;
    }
    @if $is-print == false {
      font-size: 19px;
    } @else {
      font-size: 14pt;
    }
    line-height: $line-height;
    font-weight: 400;
    text-transform: none;
    @media (max-width: 640px) {
        font-size: 16px;
        line-height: $line-height-640;
    }
}

@mixin core-16($line-height: (20 / 16), $line-height-640: (16 / 14), $tabular-numbers: false) {
    @if $tabular-numbers == true {
        font-family: $NTA-Light-Tabular;
    } @else {
        font-family: $NTA-Light;
    }
    @if $is-print == false {
        font-size: 16px;
    } @else {
        font-size: 12pt;
    }
    line-height: $line-height;
    font-weight: 300;
    text-transform: none;
    @media (max-width: 640px) {
        font-size: 14px;
        line-height: $line-height-640;
    }
}

@mixin core-14($line-height: (20 / 14), $line-height-640: (15 / 12), $tabular-numbers: false) {
    @if $tabular-numbers == true {
        font-family: $NTA-Light-Tabular;
    } @else {
        font-family: $NTA-Light;
    }
    @if $is-print == false {
        font-size: 14px;
    } @else {
        font-size: 11pt;
    }
    line-height: $line-height;
    font-weight: 400;
    text-transform: none;
    @media (max-width: 640px) {
        font-size: 12px;
        line-height: $line-height-640;
    }
}

@mixin bold-80($line-height: (80 / 80), $line-height-640: (55 / 53), $tabular-numbers: false) {
    @include core-80($line-height, $line-height-640, $tabular-numbers: $tabular-numbers);
    font-weight: 700;
}

@mixin bold-48($line-height: (50 / 48), $line-height-640: (35 / 32), $tabular-numbers: false) {
    @include core-48($line-height, $line-height-640, $tabular-numbers: $tabular-numbers);
    font-weight: 700;
}

@mixin bold-36($line-height: (40 / 36), $line-height-640: (25 / 24), $tabular-numbers: false) {
    @include core-36($line-height, $line-height-640, $tabular-numbers: $tabular-numbers);
    font-weight: 700;
}

@mixin bold-27($line-height: (30 / 27), $line-height-640: (20 / 18), $tabular-numbers: false) {
    @include core-27($line-height, $line-height-640, $tabular-numbers: $tabular-numbers);
    font-weight: 700;
}

@mixin bold-24($line-height: (30 / 24), $line-height-640: (24 / 20), $tabular-numbers: false) {
    @include core-24($line-height, $line-height-640, $tabular-numbers: $tabular-numbers);
    font-weight: 700;
}

@mixin bold-19($line-height: (25 / 19), $line-height-640: (20 / 16), $tabular-numbers: false) {
    @include core-19($line-height, $line-height-640, $tabular-numbers: $tabular-numbers);
    font-weight: 700;
}

@mixin bold-16($line-height: (20 / 16), $line-height-640: (16 / 14), $tabular-numbers: false) {
    @include core-16($line-height, $line-height-640, $tabular-numbers: $tabular-numbers);
    font-weight: 700;
}

@mixin bold-14($line-height: (20 / 14), $line-height-640: (15 / 12), $tabular-numbers: false) {
    @include core-14($line-height, $line-height-640, $tabular-numbers: $tabular-numbers);
    font-weight: 700;
}

@mixin heading-80($tabular-numbers: false) {
    @include core-80($tabular-numbers: $tabular-numbers);

    padding-top: 8px;
    padding-bottom: 7px;

    @include media(tablet){
        padding-top: 6px;
        padding-bottom: 14px;
    }
}

@mixin heading-48($tabular-numbers: false) {
    @include core-48($tabular-numbers: $tabular-numbers);

    padding-top: 10px;
    padding-bottom: 10px;

    @include media(tablet){
        padding-top: 7px;
        padding-bottom: 13px;
    }
}

@mixin heading-36($tabular-numbers: false) {
    @include core-36($tabular-numbers: $tabular-numbers);

    padding-top: 8px;
    padding-bottom: 7px;

    @include media(tablet){
        padding-top: 6px;
        padding-bottom: 9px;
    }
}

@mixin heading-27($tabular-numbers: false) {
    @include core-27($tabular-numbers: $tabular-numbers);

    padding-top: 8px;
    padding-bottom: 7px;

    @include media(tablet){
        padding-top: 4px;
        padding-bottom: 6px;
    }
}

@mixin heading-24($tabular-numbers: false) {
    @include core-24($tabular-numbers: $tabular-numbers);

    padding-top: 9px;
    padding-bottom: 6px;

    @include media(tablet){
        padding-top: 6px;
        padding-bottom: 4px;
    }
}

@mixin copy-19($tabular-numbers: false) {
    @include core-19($tabular-numbers: $tabular-numbers);

    padding-top: 2px;
    padding-bottom: 8px;

    @include media(tablet){
        padding-top: 0;
        padding-bottom: 5px;
    }
}

@mixin copy-16($tabular-numbers: false) {
    @include core-16($tabular-numbers: $tabular-numbers);

    padding-top: 8px;
    padding-bottom: 7px;

    @include media(tablet){
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

@mixin copy-14($tabular-numbers: false) {
    @include core-14($tabular-numbers: $tabular-numbers);

    padding-top: 8px;
    padding-bottom: 7px;

    @include media(tablet){
        padding-top: 5px;
        padding-bottom: 5px;
    }
}