@font-face {
    font-family: GDS-Logo;
    src: local("HelveticaNeue"),local("Helvetica Neue"),local("Arial"),local("Helvetica");
}

@-ms-viewport {
    width:device-width;
}

@-o-viewport {
    width:device-width;
}

html {
    font-size: 62.5%;
}

* {
    background: transparent;
    color: black;
    text-shadow: none;
    filter: none;
    -ms-filter: none;
}

body {
    font-family: "nta",Arial,sans-serif;
    font-size: 11pt;
    line-height: 1.42857;
    font-weight: 400;
    text-transform: none;
    margin: 0;
    padding: 0;
    width: 100%;
    @media (max-width: 640px) {
        font-size: 1.2rem;
        line-height: 1.25;
    }
}

section> #global-header {
    position: relative;
    h1 {
        font-family: "nta",Arial,sans-serif;
        font-size: 16pt;
        line-height: 1.25;
        font-weight: 400;
        text-transform: none;
        border-bottom: solid 1pt black;
        padding-bottom: 6pt;
        width: 80%;

        &:after {
            content: " from GOV.UK";
        }
        @media (max-width: 640px) {
            font-size: 2rem;
            line-height: 1.2;
        }
    }
    p {
        font-family: "nta",Arial,sans-serif;
        font-size: 11pt;
        line-height: 1.42857;
        font-weight: 400;
        text-transform: none;
        border-bottom: solid 1pt black;
        bottom: -11pt;
        position: absolute;
        text-align: center;
        text-transform: uppercase;
        padding-bottom: 6pt;
        right: 0;
        width: 15%;
        @media (max-width: 640px) {
          font-size: 1.2rem;
          line-height: 1.25;
        }
    }
}

.vehicles-online {
    margin-bottom:50px;
}

article {
    margin-bottom: 1cm;
    width: 80%;
    #global-header h1, h2, h3, h4, h5, h6 {
        font-weight: bold;
    }
    h2, h3, h4, p, ul {
        orphans: 3;
        widows: 3;
    }
    h2, h3, h4, .info-notice {
        page-break-after: avoid;
    }
    #global-header {
        h1 {
          font-family: "nta",Arial,sans-serif;
          font-size: 14pt;
          line-height: 1.31579;
          font-weight: 400;
          text-transform: none;
          border-bottom: 1pt solid #7f7f7f;
          padding-top: 7pt;
          padding-bottom: 7pt;
          @media (max-width: 640px) {
              font-size: 1.6rem;
              line-height: 1.25;
          }
        }
    }
    h2 {
        font-family: "nta",Arial,sans-serif;
        font-size: 14pt;
        line-height: 1.31579;
        font-weight: 400;
        text-transform: none;
        padding-top: 7pt;
            @media (max-width: 640px) {
                font-size: 1.6rem;
                line-height: 1.25;
            }
    }
    h3 {
        font-family: "nta",Arial,sans-serif;
        font-size: 12pt;
        line-height: 1.25;
        font-weight: 300;
        text-transform: none;
            @media (max-width: 640px) {
                font-size: 1.4rem;
                line-height: 1.14286;
            }
    }
    p {
        font-family: "nta",Arial,sans-serif;
        font-size: 11pt;
        line-height: 1.42857;
        font-weight: 400;
        text-transform: none;
            @media (max-width: 640px) {
                font-size: 1.2rem;
                line-height: 1.25;
            }
    }
    li {
        line-height: 1.5em;
        p {
          margin: 0;
        }
    }
    h4 {
        font-family: "nta",Arial,sans-serif;
        font-size: 11pt;
        line-height: 1.42857;
        font-weight: 400;
        text-transform: none;
            @media (max-width: 640px) {
                font-size: 1.2rem;
                line-height: 1.25;
            }
    }
    table {
        border: 1pt solid #7d7d7d;
        border-collapse: collapse;
        width: 100%;
        thead {
            display: table-header-group;
        }
        th, td {
            border: 1pt solid #7d7d7d;
            padding: 0.25em 0.5em;
            text-align: left;
        }
        td:nth-child(n+2) {
            text-align: right;
        }
        caption {
            font-family: "nta",Arial,sans-serif;
            font-size: 14pt;
            line-height: 1.31579;
            font-weight: 400;
            text-transform: none;
            margin: 14pt 0;
            @media (max-width: 640px) {
                font-size: 1.6rem;
                line-height: 1.25;
            }
        }
    }
    ul, ol {
        font-family: "nta",Arial,sans-serif;
        font-size: 11pt;
        line-height: 1.42857;
        font-weight: 400;
        text-transform: none;
        padding-left: 13pt;
        list-style-image: none;
        list-style-type: disc;
            @media (max-width: 640px) {
                font-size: 1.2rem;
                line-height: 1.25;
            }
    }
    .contact, .info-notice, .help-notice {
      border: 1pt solid #7d7d7d;
      padding: 2pt;
      margin: 14pt 0;
    }
    .info-notice:before, .help-notice:before {
      content: "!";
      float: left;
      font-family: "nta",Arial,sans-serif;
      font-size: 18pt;
      line-height: 1.04167;
      font-weight: 400;
      text-transform: none;
      font-weight: bold;
      margin: 10pt 0 0 6pt;
      @media (max-width: 640px) {
          font-size: 3.2rem;
          line-height: 1.09375;
      }
    }
    .info-notice p, .help-notice p {
      margin-left: 22pt;
    }
    .highlight-answer p, .highlighted-event p {
      font-family: "nta",Arial,sans-serif;
      font-size: 14pt;
      line-height: 1.31579;
      font-weight: 400;
      text-transform: none;
      @media (max-width: 640px) {
          font-size: 1.6rem;
          line-height: 1.25;
      }
    }
    .highlight-answer p em, .highlighted-event p em {
      font-style: normal;
      font-weight: 700;
    }
}

dl {
    dt {
        font-weight:bold;
    }
    dd {
        margin:0;
    }
}

a {
  text-decoration: underline;
  word-wrap: break-word;
  &:visited {
    text-decoration: underline;
    word-wrap: break-word;
  }
  &[href^="/"]:after {
    content: " (https://www.gov.uk" attr(href) ")";
    font-size: 90%;
  }
  &[href^="http://"]:after, &[href^="https://"]:after {
    content: " (" attr(href) ")";
    font-size: 90%;
  }
  &[href^="javascript:"]:after, &[href^="#"]:after {
    content: "";
  }
}

img {
    max-width: 100% !important;
}

.print-link {
    display: none;
}

.modified-date {
    color: #e1e1e1;
    font-family: "nta",Arial,sans-serif;
    font-size: 11pt;
    line-height: 1.42857;
    font-weight: 400;
    text-transform: none;
    &:after {
        content: "\00A9  Crown Copyright";
        float: right;
    }
    @media (max-width: 640px) {
        font-size: 1.2rem;
        line-height: 1.25;
    }
}

#global-header {
  background: transparent;
  margin-top: 10px;
  #logo {
    position: relative;
    display: block;
    width: 166px;
    height: 30px;
    overflow: hidden;
    img {
      position: absolute;
      left: -46px;
      top: -62px;
      max-width: none !important;
      width: 200%;
      height: 300%;
      border: none;
    }
    &:after {
      display: none;
    }
  }
  #search, .search-toggle {
    display: none;
  }
}

.done-questions {
  .start-again, .question-number, li.done .undo {
    display: none;
  }
}

fieldset {
    margin:0;
    padding:0;
    border:0 none !important;
}

label {
    display:block !important;
    width:100%;
}
input {
    margin-bottom:10px;
}

/*prevent chrome OSX from displaying grey lines in print preview*/
select {
    background: #fff !important;
}

footer{
  ul {
    padding-left:0;
  }
}

//hide specific elements/sections
body #global-user-location,
body .related-positioning,
#global-header .header-phase h1 span,
body .actions,
.visuallyhidden,
#local-locator-form,
#location-loading,
#get-started,
.finding_location,
.found_location,
.loading_location,
.location_error,
.enter-address-manually legend,
.enter-address-manually label,
.form-inline label,
.trader-details .img-wrap-desktop,
#global-cookie-message,
#global-browser-prompt,
.report-a-problem-toggle,
.report-a-problem-container,
button,
.button,
.button-secondary,
.button-not-implemented,
.button-text {
    display: none !important;
}

.enter-address-manually fieldset > .form-item > .form-item:last-child label {
    display:block !important;
}
