@(title: String)(content: Html)(implicit lang: Lang)
    
@import views.html.common.{alternateLanguages, feedback}
@import mappings.common.Help.HelpId

<!DOCTYPE html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <title>@title</title>
    </head>

    <body>
        <div id="wrapper content" class="group">
            <a id="@HelpId" href="@controllers.common.routes.Help.present()">@{Messages("main.banner.help")}</a>
            @feedback()
            @alternateLanguages()
            @content
        </div>
    </body>
</html>