@()(implicit lang: Lang,
token: filters.csrf_prevention.CsrfPreventionAction.CsrfPreventionToken,
config: utils.helpers.Config)

@import controllers.common.routes.Help
@import mappings.disposal_of_vehicle.Help.ExitId
@import mappings.disposal_of_vehicle.Help.BackId
@import utils.helpers.CsrfHelper
@import views.html.disposal_of_vehicle.main
@import views.html.helper.form

@main(
title = Messages("disposal.help.title")
) {
    <p>@Messages("disposal.help.p1")</p>
    <p>@Messages("disposal.help.p2.1") <a href=@Messages("disposal.help.email")> @Messages("disposal.help.p2.2") </a></p>

    @form(action = Help.back) {
        @CsrfHelper.hiddenFormField

        <div class="form-steps">
            @CsrfHelper.hiddenFormField
            @* Note the reverse routing syntax for the hyperlink *@
            <button id="@BackId" type="submit" name="action" class="button">@Messages("disposal.help.back_button")</button>
            <a id="@ExitId" href="@controllers.disposal_of_vehicle.routes.BeforeYouStart.present()" class="button-secondary">@Messages("disposal.help.exit_button")</a>
        </div>
    }
}