@(withLanguageCy: Call, withLanguageEn: Call)(implicit lang: Lang, token: play.filters.csrf.CSRF.Token)

@import helper._
@import mappings.common.Languages.{CyId, EnId}

@if(lang.code != CyId) {
    <div class="step">
    @form(action = withLanguageCy) {
        @CSRF.formField
        <button id="@CyId" type="submit" name="action" class="button">@Messages("language.cy.button")</button>
    }
    </div>
}

@if(lang.code != EnId) {
    <div class="step">
    @form(action = withLanguageEn) {
        @CSRF.formField
        <button id="@EnId" type="submit" name="action" class="button">@Messages("language.en.button")</button>
    }
    </div>
}