@(withLanguageCy: Call, withLanguageEn: Call)(implicit lang: Lang, token: services.csrf_prevention.CSRFAction.Token)

@import helper._
@import mappings.common.Languages.{CyId, EnId}
@import utils.helpers._

@if(lang.code != CyId) {
    <div class="step">
    @form(action = withLanguageCy) {
        @CSRFHelper.hiddenFormField
        <button id="@CyId" type="submit" name="action" class="button">@Messages("language.cy.button")</button>
    }
    </div>
}

@if(lang.code != EnId) {
    <div class="step">
    @form(action = withLanguageEn) {
        @CSRFHelper.hiddenFormField
        <button id="@EnId" type="submit" name="action" class="button">@Messages("language.en.button")</button>

    }
    </div>
}